// stylelint-disable declaration-no-important

// =======================================
// ^HELPERS.Bg
// =======================================

.#{$ekzo-h-ns}bg--fixed { background-attachment: fixed !important; }

.#{$ekzo-h-ns}bg--cover   { background-size: cover   !important; }
.#{$ekzo-h-ns}bg--contain { background-size: contain !important; }

.#{$ekzo-h-ns}bg--center   { background-position:   center !important; }
.#{$ekzo-h-ns}bg--right    { background-position-x: right  !important; }
.#{$ekzo-h-ns}bg--left     { background-position-x: left   !important; }
.#{$ekzo-h-ns}bg--top      { background-position-y: top    !important; }
.#{$ekzo-h-ns}bg--bottom   { background-position-y: bottom !important; }
.#{$ekzo-h-ns}bg--middle   { background-position-y: center !important; }

.#{$ekzo-h-ns}bg--no-repeat { background-repeat: no-repeat !important; }
.#{$ekzo-h-ns}bg--repeat-x  { background-repeat: repeat-x  !important; }
.#{$ekzo-h-ns}bg--repeat-y  { background-repeat: repeat-y  !important; }