// stylelint-disable declaration-no-important

// =============================================================================
// Bg
// =============================================================================

@mixin exports ($ns: $ekzo-h-ns) {

  .#{$ns}bg--fixed   { background-attachment: fixed !important; }

  .#{$ns}bg--cover   { background-size: cover   !important; }
  .#{$ns}bg--contain { background-size: contain !important; }

  .#{$ns}bg--center   { background-position:   center !important; }
  .#{$ns}bg--right    { background-position-x: right  !important; }
  .#{$ns}bg--left     { background-position-x: left   !important; }
  .#{$ns}bg--top      { background-position-y: top    !important; }
  .#{$ns}bg--bottom   { background-position-y: bottom !important; }
  .#{$ns}bg--middle   { background-position-y: center !important; }

  .#{$ns}bg--no-repeat { background-repeat: no-repeat !important; }
  .#{$ns}bg--repeat-x  { background-repeat: repeat-x  !important; }
  .#{$ns}bg--repeat-y  { background-repeat: repeat-y  !important; }

}