// =======================================
// ^HELPERS.BORDERS
// =======================================
// @note I think it's better to leave those styles without `!important`, otherwise it will affect
//       hover styles
//       `&:hover` with `border-bottom-width: inherit !important;` doesn't work well to, since it
//       probably will enforce inherit in places, where we didn't expect it
//
// @note Border style will be inherited from parent, which is by default `solid` for all elements,
//       if not overridden
//
// @note For color will be used `currentColor` of element, if not overridden

// @note We setting only `border-width`, because that class works on assumption, that
//       all elements by default inherit at least `solid` style, as defined in `normilize.scss`
//       `border-color`, by default, will be inherited from element's `color`
.#{$ekzo-ns}#{$ekzo-helpers-ns}border        { border-width: 1px; }
.#{$ekzo-ns}#{$ekzo-helpers-ns}border-top    { border-top-width: 1px; }
.#{$ekzo-ns}#{$ekzo-helpers-ns}border-right  { border-right-width: 1px; }
.#{$ekzo-ns}#{$ekzo-helpers-ns}border-bottom { border-bottom-width: 1px; }
.#{$ekzo-ns}#{$ekzo-helpers-ns}border-left   { border-left-width: 1px; }

// ----
// Removes underline, but adds it on hover

.#{$ekzo-ns}#{$ekzo-helpers-ns}border-bottom--rev {
  border-bottom-width: 0;

  &:hover,
  &:focus,
  &:active { border-bottom-width: 1px; }

}

// @note `!important` here doesn't work well too, since it enforcing too much inheritance
.#{$ekzo-ns}#{$ekzo-helpers-ns}border--inherit { border: inherit; }

.#{$ekzo-ns}#{$ekzo-helpers-ns}border--flush        { border:        none; }
.#{$ekzo-ns}#{$ekzo-helpers-ns}border-top--flush    { border-top:    none; }
.#{$ekzo-ns}#{$ekzo-helpers-ns}border-right--flush  { border-right:  none; }
.#{$ekzo-ns}#{$ekzo-helpers-ns}border-bottom--flush { border-bottom: none; }
.#{$ekzo-ns}#{$ekzo-helpers-ns}border-left--flush   { border-left:   none; }