// stylelint-disable declaration-no-important

// =============================================================================
// Border-radius
// =============================================================================

@mixin exports (
  $ns: $ekzo-h-ns,
  $radiuses: $ekzo-border-radius
) {
  @each $variant, $radius in $radiuses {

    .#{$ns}border-r#{$variant}              { border-radius: $radius !important; }
    .#{$ns}border-r-top-left#{$variant}     { border-top-left-radius: $radius !important; }
    .#{$ns}border-r-top-right#{$variant}    { border-top-right-radius: $radius !important; }
    .#{$ns}border-r-bottom-right#{$variant} { border-bottom-right-radius: $radius !important; }
    .#{$ns}border-r-bottom-left#{$variant}  { border-bottom-left-radius: $radius !important; }

  }
}