// stylelint-disable selector-list-comma-newline-after

// =============================================================================
// ^HELPERS.BORDERS
// =============================================================================
// @note I think it's better to leave those styles without `!important`, otherwise it will affect
//       hover styles
//       `&:hover` with `border-bottom-width: inherit !important;` doesn't work well to, since it
//       probably will enforce inherit in places, where we didn't expect it
//
// @note Border style will be inherited from parent, which is by default `solid` for all elements,
//       if not overridden
//
// @note For color will be used `currentColor` of element, if not overridden

// @note We setting only `border-width`, because that class works on assumption, that
//       all elements by default inherit at least `solid` style, as defined in `normilize.scss`
//       `border-color`, by default, will be inherited from element's `color`
.#{$ekzo-h-ns}border        { border-width: 1px; }
.#{$ekzo-h-ns}border-top    { border-top-width: 1px; }
.#{$ekzo-h-ns}border-right  { border-right-width: 1px; }
.#{$ekzo-h-ns}border-bottom { border-bottom-width: 1px; }
.#{$ekzo-h-ns}border-left   { border-left-width: 1px; }

// ----
// Removes underline, but adds it on hover

.#{$ekzo-h-ns}border\:h        { &:hover, &:focus  { border-width: 1px; } }
.#{$ekzo-h-ns}border-top\:h    { &:hover, &:focus  { border-top-width: 1px; } }
.#{$ekzo-h-ns}border-right\:h  { &:hover, &:focus  { border-right-width: 1px; } }
.#{$ekzo-h-ns}border-bottom\:h { &:hover, &:focus  { border-bottom-width: 1px; } }
.#{$ekzo-h-ns}border-left\:h   { &:hover, &:focus  { border-left-width: 1px; } }

// @note `!important` here doesn't work well too, since it enforcing too much inheritance
.#{$ekzo-h-ns}border--inherit { border: inherit; }

.#{$ekzo-h-ns}border0        { border-width:        0; }
.#{$ekzo-h-ns}border-top0    { border-top-width:    0; }
.#{$ekzo-h-ns}border-right0  { border-right-width:  0; }
.#{$ekzo-h-ns}border-bottom0 { border-bottom-width: 0; }
.#{$ekzo-h-ns}border-left0   { border-left-width:   0; }