
// =======================================
// ^HELPERS.CLEARFIX
// =======================================
//
// Provides an easy way to contain floats without adding additional markup.
//
// Extend `%clear` clearfix silent class to avoid the `%clear` class appearing over
// and over in your markup and css bloat.
//
// @source css-101.org/articles/clearfix/latest-new-clearfix-so-far.php

%#{$ekzo-ns}#{$ekzo-helpers-ns}clear,
.#{$ekzo-ns}#{$ekzo-helpers-ns}clear {

  &:after {
    display: table;

    clear:   both;

    content: '';
  }

}