
// =======================================
// ^HELPERS.CLEARFIX
// =======================================
//
// Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
// Extend `%clear` clearfix silent class to avoid the `%clear` class appearing over
// and over in your markup and css bloat.

%clear,
.clear {

	&:after {
		display: table;

		clear:   both;

		content: '';
	}

}