// stylelint-disable declaration-no-important, selector-list-comma-newline-after, max-nesting-depth

// =======================================
// ^HELPERS.COLORS.UI
// =======================================
// UI colors
//
// @todo Usage of mixin `ekzo-theme` seems to be a bit slow here. Consider replacement with plain
//       interpolated class names

@if $ekzo-enable-ui-colors-helpers {
  @each $theme, $value in $ekzo-themes {
    @each $color, $value in ekzo-get($ekzo-themes, $theme) {
      @if $value {

        .#{$ekzo-helpers-ns}color--#{$color}           { @include ekzo-theme() { color: $value !important; } }
        .#{$ekzo-helpers-ns}color--#{$color}\:h        { @include ekzo-theme() { &:hover, &:focus { color: $value !important; } } }

        .#{$ekzo-helpers-ns}bg-color--#{$color}        { @include ekzo-theme() { background-color: $value !important; } }
        .#{$ekzo-helpers-ns}bg-color--#{$color}\:h     { @include ekzo-theme() { &:hover, &:focus { background-color: $value !important; } } }

        .#{$ekzo-helpers-ns}border-color--#{$color}    { @include ekzo-theme() { border-color: $value !important; } }
        .#{$ekzo-helpers-ns}border-color--#{$color}\:h { @include ekzo-theme() { &:hover, &:focus { border-color: $value !important; } } }

        .#{$ekzo-helpers-ns}fill--#{$color}            { @include ekzo-theme() { fill: $value !important; } }
        .#{$ekzo-helpers-ns}fill--#{$color}\:h         { @include ekzo-theme() { &:hover, &:focus { fill: $value !important; } } }

        .#{$ekzo-helpers-ns}stroke--#{$color}          { @include ekzo-theme() { stroke: $value !important; } }
        .#{$ekzo-helpers-ns}stroke--#{$color}\:h       { @include ekzo-theme() { &:hover, &:focus { stroke: $value !important; } } }

      }
    }
  }
}