// stylelint-disable declaration-no-important

// =============================================================================
// ^HELPERS.COLORS.UI
// =============================================================================
// UI colors
//
// @todo Usage of mixin `ekzo-theme` seems to be a bit slow here. Consider replacement with plain
//       interpolated class names

@each $theme-name, $theme in $ekzo-themes {
  @each $ui, $color in $theme {
    @include ekzo-theme() {
      $value: ekzo-theme($ui);

      .#{$ekzo-h-ns}color--#{$ui},
      .#{$ekzo-h-ns}color--#{$ui}\:h:hover,
      .#{$ekzo-h-ns}color--#{$ui}\:h:focus { color: $value !important; }

      .#{$ekzo-h-ns}bg-color--#{$ui},
      .#{$ekzo-h-ns}bg-color--#{$ui}\:h:hover,
      .#{$ekzo-h-ns}bg-color--#{$ui}\:h:focus { background-color: $value !important; }

      .#{$ekzo-h-ns}border-color--#{$ui},
      .#{$ekzo-h-ns}border-color--#{$ui}\:h:hover,
      .#{$ekzo-h-ns}border-color--#{$ui}\:h:focus { border-color: $value !important; }

      .#{$ekzo-h-ns}fill--#{$ui},
      .#{$ekzo-h-ns}fill--#{$ui}\:h:hover,
      .#{$ekzo-h-ns}fill--#{$ui}\:h:focus { fill: $value !important; }

      .#{$ekzo-h-ns}stroke--#{$ui},
      .#{$ekzo-h-ns}stroke--#{$ui}\:h:hover,
      .#{$ekzo-h-ns}stroke--#{$ui}\:h:focus { stroke: $value !important; }

    }
  }
}