// stylelint-disable declaration-no-important, selector-list-comma-newline-after

// =============================================================================
// Colors
// =============================================================================

@mixin exports (
  $ns: $ekzo-h-ns,
  $colors: $ekzo-colors
) {

  // -----------------------------------------------------------------------------
  // Inherits
  // -----------------------------------------------------------------------------

  .#{$ns}color--inherit           { color: inherit !important; }
  .#{$ns}color--inherit\:h        { &:hover, &:focus { color: inherit !important; } }

  .#{$ns}bg-color--inherit        { background-color: inherit !important; }
  .#{$ns}bg-color--inherit\:h     { &:hover, &:focus { background-color: inherit !important; } }

  .#{$ns}border-color--inherit    { border-color: inherit !important; }
  .#{$ns}border-color--inherit\:h { &:hover, &:focus { border-color: inherit !important; } }

  .#{$ns}fill--inherit            { fill: inherit !important; }
  .#{$ns}fill--inherit\:h         { &:hover, &:focus { fill: inherit !important; } }

  .#{$ns}stroke--inherit          { stroke: inherit !important; }
  .#{$ns}stroke--inherit\:h       { &:hover, &:focus { stroke: inherit !important; } }

  // -----------------------------------------------------------------------------
  // Transparent
  // -----------------------------------------------------------------------------

  .#{$ns}color--transparent           { color: transparent !important; }
  .#{$ns}color--transparent\:h        { &:hover, &:focus { color: transparent !important; } }

  .#{$ns}bg-color--transparent        { background-color: transparent !important; }
  .#{$ns}bg-color--transparent\:h     { &:hover, &:focus { background-color: transparent !important; } }

  .#{$ns}border-color--transparent    { border-color: transparent !important; }
  .#{$ns}border-color--transparent\:h { &:hover, &:focus { border-color: transparent !important; } }

  .#{$ns}fill--transparent            { fill: transparent !important; }
  .#{$ns}fill--transparent\:h         { &:hover, &:focus { fill: transparent !important; } }

  .#{$ns}stroke--transparent          { stroke: transparent !important; }
  .#{$ns}stroke--transparent\:h       { &:hover, &:focus { stroke: transparent !important; } }

  // -----------------------------------------------------------------------------
  // currentColor
  // -----------------------------------------------------------------------------

  .#{$ns}color--current           { color: currentColor !important; }
  .#{$ns}color--current\:h        { &:hover, &:focus { color: currentColor !important; } }

  .#{$ns}bg-color--current        { background-color: currentColor !important; }
  .#{$ns}bg-color--current\:h     { &:hover, &:focus { background-color: currentColor !important; } }

  .#{$ns}border-color--current    { border-color: currentColor !important; }
  .#{$ns}border-color--current\:h { &:hover, &:focus { border-color: currentColor !important; } }

  .#{$ns}fill--current            { fill: currentColor !important; }
  .#{$ns}fill--current\:h         { &:hover, &:focus { fill: currentColor !important; } }

  .#{$ns}stroke--current          { stroke: currentColor !important; }
  .#{$ns}stroke--current\:h       { &:hover, &:focus { stroke: currentColor !important; } }

  // -----------------------------------------------------------------------------
  // Color pallete
  // -----------------------------------------------------------------------------

  @each $name, $color in $colors {

    .#{$ns}color--#{$name}           { color: $color !important; }
    .#{$ns}color--#{$name}\:h        { &:hover, &:focus { color: $color !important; } }

    .#{$ns}bg-color--#{$name}        { background-color: $color !important; }
    .#{$ns}bg-color--#{$name}\:h     { &:hover, &:focus { background-color: $color !important; } }

    .#{$ns}border-color--#{$name}    { border-color: $color !important; }
    .#{$ns}border-color--#{$name}\:h { &:hover, &:focus { border-color: $color !important; } }

    .#{$ns}fill--#{$name}            { fill: $color !important; }
    .#{$ns}fill--#{$name}\:h         { &:hover, &:focus { fill: $color !important; } }

    .#{$ns}stroke--#{$name}          { stroke: $color !important; }
    .#{$ns}stroke--#{$name}\:h       { &:hover, &:focus { stroke: $color !important; } }

  }

}