// stylelint-disable declaration-no-important, selector-list-comma-newline-after, max-nesting-depth

// =======================================
// ^HELPERS.COLORS.UI
// =======================================
// UI colors
//
// @todo Usage of mixin `ekzo-theme` seems to be a bit slow here. Consider replacement with plain
//       interpolated class names

@each $theme-name, $theme in $ekzo-themes {
  @each $ui, $color in $theme {
    @if $color {

      .#{$ekzo-h-ns}color--#{$ui}           { @include ekzo-theme() { color: $color !important; } }
      .#{$ekzo-h-ns}color--#{$ui}\:h        { @include ekzo-theme() { &:hover, &:focus { color: $color !important; } } }

      .#{$ekzo-h-ns}bg-color--#{$ui}        { @include ekzo-theme() { background-color: $color !important; } }
      .#{$ekzo-h-ns}bg-color--#{$ui}\:h     { @include ekzo-theme() { &:hover, &:focus { background-color: $color !important; } } }

      .#{$ekzo-h-ns}border-color--#{$ui}    { @include ekzo-theme() { border-color: $color !important; } }
      .#{$ekzo-h-ns}border-color--#{$ui}\:h { @include ekzo-theme() { &:hover, &:focus { border-color: $color !important; } } }

      .#{$ekzo-h-ns}fill--#{$ui}            { @include ekzo-theme() { fill: $color !important; } }
      .#{$ekzo-h-ns}fill--#{$ui}\:h         { @include ekzo-theme() { &:hover, &:focus { fill: $color !important; } } }

      .#{$ekzo-h-ns}stroke--#{$ui}          { @include ekzo-theme() { stroke: $color !important; } }
      .#{$ekzo-h-ns}stroke--#{$ui}\:h       { @include ekzo-theme() { &:hover, &:focus { stroke: $color !important; } } }

    }
  }
}