// scss-lint:disable ImportantRule

// =======================================
// ^HELPERS.DISPLAY
// =======================================

@mixin ekzo-display-helpers($prefix:'', $postfix:'') {

  // ---------------------------------------
  // Display
  // ---------------------------------------

  // ----
  // Display styling

  .#{$prefix}display--inline#{$postfix}       { display: inline       !important; }
  .#{$prefix}display--inline-block#{$postfix} { display: inline-block !important; }
  .#{$prefix}display--block#{$postfix}        { display: block        !important; }
  .#{$prefix}display--none#{$postfix}         { display: none         !important; }

  // ----
  // Overflow

  .#{$prefix}overflow--visible#{$postfix}   { overflow: visible   !important; }
  .#{$prefix}overflow--hidden#{$postfix}    { overflow: hidden    !important; }
  .#{$prefix}overflow--scroll#{$postfix}    { overflow: scroll    !important; }
  .#{$prefix}overflow--auto#{$postfix}      { overflow: auto      !important; }

  .#{$prefix}overflow-x--visible#{$postfix} { overflow-x: visible !important; }
  .#{$prefix}overflow-x--hidden#{$postfix}  { overflow-x: hidden  !important; }
  .#{$prefix}overflow-x--scroll#{$postfix}  { overflow-x: scroll  !important; }
  .#{$prefix}overflow-x--auto#{$postfix}    { overflow-x: auto    !important; min-height: .01% !important; }

  .#{$prefix}overflow-y--visible#{$postfix} { overflow-y: visible !important; }
  .#{$prefix}overflow-y--hidden#{$postfix}  { overflow-y: hidden  !important; }
  .#{$prefix}overflow-y--scroll#{$postfix}  { overflow-y: scroll  !important; }
  .#{$prefix}overflow-y--auto#{$postfix}    { overflow-y: auto    !important; }

  // ----
  // Display as table
  //
  // Apply those classes to container and nested divs
  // to make them behave like table
  //
  // Can be useful when you want two divs to have equal
  // height
  //
  // Note: don't use floated position on table-cells
  //        'cause they won't behave like table-cells

  .#{$prefix}table#{$postfix} { display: table !important; }

    .#{$prefix}table__row#{$postfix}  { display: table-row  !important; }
    .#{$prefix}table__cell#{$postfix} { display: table-cell !important; }

  // ---------------------------------------
  // Visibility
  // ---------------------------------------

  // ----
  // Mute an object by reducing its opacity.

  .#{$prefix}opacity--100#{$postfix}     { opacity: 1    !important; }
  .#{$prefix}opacity--90#{$postfix}      { opacity: .9   !important; }
  .#{$prefix}opacity--80#{$postfix}      { opacity: .8   !important; }
  .#{$prefix}opacity--70#{$postfix}      { opacity: .7   !important; }
  .#{$prefix}opacity--60#{$postfix}      { opacity: .6   !important; }
  .#{$prefix}opacity--50#{$postfix}      { opacity: .5   !important; }
  .#{$prefix}opacity--40#{$postfix}      { opacity: .4   !important; }
  .#{$prefix}opacity--30#{$postfix}      { opacity: .3   !important; }
  .#{$prefix}opacity--20#{$postfix}      { opacity: .2   !important; }
  .#{$prefix}opacity--10#{$postfix}      { opacity: .1   !important; }
  .#{$prefix}opacity--5#{$postfix}       { opacity: .05  !important; }
  .#{$prefix}opacity--2\.5#{$postfix}    { opacity: .025 !important; }

  .#{$prefix}opacity\:h--100#{$postfix}  { &:hover, &:focus { opacity: 1    !important; } }
  .#{$prefix}opacity\:h--90#{$postfix}   { &:hover, &:focus { opacity: .9   !important; } }
  .#{$prefix}opacity\:h--80#{$postfix}   { &:hover, &:focus { opacity: .8   !important; } }
  .#{$prefix}opacity\:h--70#{$postfix}   { &:hover, &:focus { opacity: .7   !important; } }
  .#{$prefix}opacity\:h--60#{$postfix}   { &:hover, &:focus { opacity: .6   !important; } }
  .#{$prefix}opacity\:h--50#{$postfix}   { &:hover, &:focus { opacity: .5   !important; } }
  .#{$prefix}opacity\:h--40#{$postfix}   { &:hover, &:focus { opacity: .4   !important; } }
  .#{$prefix}opacity\:h--30#{$postfix}   { &:hover, &:focus { opacity: .3   !important; } }
  .#{$prefix}opacity\:h--20#{$postfix}   { &:hover, &:focus { opacity: .2   !important; } }
  .#{$prefix}opacity\:h--10#{$postfix}   { &:hover, &:focus { opacity: .1   !important; } }
  .#{$prefix}opacity\:h--5#{$postfix}    { &:hover, &:focus { opacity: .05  !important; } }
  .#{$prefix}opacity\:h--2\.5#{$postfix} { &:hover, &:focus { opacity: .025 !important; } }

  // ----
  // Hide visually and from screen readers, but maintain layout

  .#{$prefix}visibility--hidden#{$postfix} { visibility: hidden; }

  // ----
  // Hide only visually, but have it available for screen readers
  //
  // @source h5bp.com/v

  .#{$prefix}hide#{$postfix} {
    position: absolute;

    width:  1px;
    height: 1px;

    margin:  -1px;
    padding:  0;

    clip: rect(0 0 0 0);

    overflow: hidden;

    border: 0;
  }

  // ----
  // Hide only text

  .#{$prefix}text--hidden#{$postfix} {
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
  }

}

// ---------------------------------------
// Call all display helpers
// ---------------------------------------

@if $ekzo-enable-display-helpers {

  @include ekzo-display-helpers($prefix: $ekzo-ns + $ekzo-helpers-ns);

} // endif

// ---------------------------------------
// Responsive display helpers
// ---------------------------------------

@if $ekzo-enable-display-helpers {

  @include ekzo-each-breakpoint($enable-for: $ekzo-responsive-display-helpers-breakpoints) {
    @include ekzo-display-helpers($prefix: $ekzo-ns + $ekzo-helpers-ns, $postfix: ekzo-temp());
  };

} // endif