// stylelint-disable declaration-no-important, selector-list-comma-newline-after, declaration-block-single-line-max-declarations

// =======================================
// ^HELPERS.DISPLAY
// =======================================

@mixin ekzo-display-helpers($prefix:'', $postfix:'') {

  // ---------------------------------------
  // Display
  // ---------------------------------------

  // ----
  // Display styling

  .#{$prefix}inline#{$postfix}       { display: inline       !important; }
  .#{$prefix}inline-block#{$postfix} { display: inline-block !important; }
  .#{$prefix}block#{$postfix}        { display: block        !important; }
  .#{$prefix}none#{$postfix}         { display: none         !important; }

  .#{$prefix}table#{$postfix}        { display: table !important; }
  .#{$prefix}table--fixed#{$postfix} { table-layout: fixed; }

    .#{$prefix}table__row#{$postfix}  { display: table-row  !important; }
    .#{$prefix}table__cell#{$postfix} { display: table-cell !important; }

  // ---------------------------------------
  // Visibility
  // ---------------------------------------

  // ----
  // Overflow

  .#{$prefix}overflow--visible#{$postfix}   { overflow: visible   !important; }
  .#{$prefix}overflow--hidden#{$postfix}    { overflow: hidden    !important; }
  .#{$prefix}overflow--scroll#{$postfix}    { overflow: scroll    !important; }
  .#{$prefix}overflow--auto#{$postfix}      { overflow: auto      !important; }

  .#{$prefix}overflow-x--visible#{$postfix} { overflow-x: visible !important; }
  .#{$prefix}overflow-x--hidden#{$postfix}  { overflow-x: hidden  !important; }
  .#{$prefix}overflow-x--scroll#{$postfix}  { overflow-x: scroll  !important; }
  .#{$prefix}overflow-x--auto#{$postfix}    { overflow-x: auto    !important; min-height: .01% !important; }

  .#{$prefix}overflow-y--visible#{$postfix} { overflow-y: visible !important; }
  .#{$prefix}overflow-y--hidden#{$postfix}  { overflow-y: hidden  !important; }
  .#{$prefix}overflow-y--scroll#{$postfix}  { overflow-y: scroll  !important; }
  .#{$prefix}overflow-y--auto#{$postfix}    { overflow-y: auto    !important; }

  // ----
  // Mute an object by reducing its opacity.

  .#{$prefix}opacity--100#{$postfix}     { opacity: 1    !important; }
  .#{$prefix}opacity--90#{$postfix}      { opacity: .9   !important; }
  .#{$prefix}opacity--80#{$postfix}      { opacity: .8   !important; }
  .#{$prefix}opacity--70#{$postfix}      { opacity: .7   !important; }
  .#{$prefix}opacity--60#{$postfix}      { opacity: .6   !important; }
  .#{$prefix}opacity--50#{$postfix}      { opacity: .5   !important; }
  .#{$prefix}opacity--40#{$postfix}      { opacity: .4   !important; }
  .#{$prefix}opacity--30#{$postfix}      { opacity: .3   !important; }
  .#{$prefix}opacity--20#{$postfix}      { opacity: .2   !important; }
  .#{$prefix}opacity--10#{$postfix}      { opacity: .1   !important; }
  .#{$prefix}opacity--5#{$postfix}       { opacity: .05  !important; }
  .#{$prefix}opacity--2\.5#{$postfix}    { opacity: .025 !important; }

  .#{$prefix}opacity--100\:h#{$postfix}  { &:hover, &:focus { opacity: 1    !important; } }
  .#{$prefix}opacity--90\:h#{$postfix}   { &:hover, &:focus { opacity: .9   !important; } }
  .#{$prefix}opacity--80\:h#{$postfix}   { &:hover, &:focus { opacity: .8   !important; } }
  .#{$prefix}opacity--70\:h#{$postfix}   { &:hover, &:focus { opacity: .7   !important; } }
  .#{$prefix}opacity--60\:h#{$postfix}   { &:hover, &:focus { opacity: .6   !important; } }
  .#{$prefix}opacity--50\:h#{$postfix}   { &:hover, &:focus { opacity: .5   !important; } }
  .#{$prefix}opacity--40\:h#{$postfix}   { &:hover, &:focus { opacity: .4   !important; } }
  .#{$prefix}opacity--30\:h#{$postfix}   { &:hover, &:focus { opacity: .3   !important; } }
  .#{$prefix}opacity--20\:h#{$postfix}   { &:hover, &:focus { opacity: .2   !important; } }
  .#{$prefix}opacity--10\:h#{$postfix}   { &:hover, &:focus { opacity: .1   !important; } }
  .#{$prefix}opacity--5\:h#{$postfix}    { &:hover, &:focus { opacity: .05  !important; } }
  .#{$prefix}opacity--2\.5\:h#{$postfix} { &:hover, &:focus { opacity: .025 !important; } }

  // ----
  // Hide visually and from screen readers, but maintain layout

  .#{$prefix}visibility--hidden#{$postfix} { visibility: hidden; }

}

// ---------------------------------------
// Call all display helpers
// ---------------------------------------

@include ekzo-display-helpers($prefix: $ekzo-h-ns);

// ---------------------------------------
// Responsive display helpers
// ---------------------------------------

@include ekzo-for-each-breakpoint($matches: $ekzo-responsive-display-helpers-breakpoints) {
  @include ekzo-display-helpers($prefix: $ekzo-h-ns, $postfix: ekzo-temp());
}