// stylelint-disable declaration-no-important

// =============================================================================
// Height
// =============================================================================

@mixin ekzo-height-helpers ($prefix: $ekzo-h-ns, $postfix: '') {

  .#{$prefix}height-1\/1#{$postfix} { height: 100% !important; }

}

// -----------------------------------------------------------------------------
// Call
// -----------------------------------------------------------------------------

@mixin exports (
  $ns: $ekzo-h-ns,
  $breakpoins: $ekzo-responsive-height-helpers-breakpoints
) {
  @include ekzo-for-each-breakpoint($matches: $breakpoins, $include-self: true) {
    @include ekzo-height-helpers(
      $prefix: $ns,
      $postfix: ekzo-temp()
    );
  }
}