
// =======================================
// ^HELPERS.MISC
// =======================================
//
// A series of helper classes to use arbitrarily. Only use a helper class if an
// element/component doesn't already have a class to which you could apply this
// styling, e.g. if you need to float `.main-nav` left then add `float:left;` to
// that ruleset as opposed to adding the `.float-left` class to the markup.
//
// A lot of these classes carry `!important` as you will always want them to win
// out over other selectors.

// ---------------------------------------
// Cursors
// ---------------------------------------

.cursor--help    { cursor: help    !important; }
.cursor--arrow   { cursor: default !important; }
.cursor--pointer { cursor: pointer !important; }

// ---------------------------------------
// Apply box-sizing models
// ---------------------------------------

.box-sizing--border  { @include ekzo-vendor(box-sizing, border-box  !important); }
.box-sizing--content { @include ekzo-vendor(box-sizing, content-box !important); }

// ---------------------------------------
// Border
// ---------------------------------------

.border--flush         { border: 0              !important; }

.border-width--flush   { border-width: 0        !important; }
.border-style--flush   { border-style: none     !important; }

.border-color--inherit { border-color: inherit  !important; }

// ---------------------------------------
// Column count
// ---------------------------------------

.column-count--flush { column-count: auto }
.column-count--2     { column-count: 2 }
.column-count--3     { column-count: 3 }