// stylelint-disable declaration-no-important, declaration-block-single-line-max-declarations

// =======================================
// ^HELPERS.POSITIONING
// =======================================

@mixin ekzo-positioning-helpers($prefix:'', $postfix:'') {

  // ---------------------------------------
  // Position
  // ---------------------------------------

  .#{$prefix}relative#{$postfix}        { position: relative !important; }
  .#{$prefix}absolute#{$postfix}        { position: absolute !important; }
  .#{$prefix}static#{$postfix}          { position: static   !important; }
  .#{$prefix}fixed#{$postfix}           { position: fixed    !important; }

  .#{$prefix}top#{$postfix}             { top:    0 !important; }
  .#{$prefix}right#{$postfix}           { right:  0 !important; }
  .#{$prefix}bottom#{$postfix}          { bottom: 0 !important; }
  .#{$prefix}left#{$postfix}            { left:   0 !important; }

  .#{$prefix}top--auto#{$postfix}       { top:    auto !important; }
  .#{$prefix}right--auto#{$postfix}     { right:  auto !important; }
  .#{$prefix}bottom--auto#{$postfix}    { bottom: auto !important; }
  .#{$prefix}left--auto#{$postfix}      { left:   auto !important; }

  .#{$prefix}position--cover#{$postfix} { top: 0 !important; right: 0 !important; bottom: 0 !important; left: 0 !important; }

  // ---------------------------------------
  // Floats
  // ---------------------------------------

  .#{$prefix}float--right#{$postfix}   { float: right !important; }
  .#{$prefix}float--left#{$postfix}    { float: left  !important; }
  .#{$prefix}float--flush#{$postfix}   { float: none  !important; }

  // ---------------------------------------
  // Alignments
  // ---------------------------------------

  .#{$prefix}align--left#{$postfix}          { text-align: left    !important; }
  .#{$prefix}align--right#{$postfix}         { text-align: right   !important; }
  .#{$prefix}align--center#{$postfix}        { text-align: center  !important; }
  .#{$prefix}align--justify#{$postfix}       { text-align: justify !important; }

  .#{$prefix}align--top#{$postfix}           { vertical-align: top      !important; }
  .#{$prefix}align--middle#{$postfix}        { vertical-align: middle   !important; }
  .#{$prefix}align--bottom#{$postfix}        { vertical-align: bottom   !important; }
  .#{$prefix}align--baseline#{$postfix}      { vertical-align: baseline !important; }

}

// ---------------------------------------
// Call all positioning helpers
// ---------------------------------------

@include ekzo-positioning-helpers($prefix: $ekzo-h-ns);

// ---------------------------------------
// Responsive positioning helpers
// ---------------------------------------

@include ekzo-for-each-breakpoint($matches: $ekzo-responsive-positioning-helpers-breakpoints) {
  @include ekzo-positioning-helpers($prefix: $ekzo-h-ns, $postfix: ekzo-temp());
}
