// scss-lint:disable ImportantRule

// =======================================
// ^HELPERS.POSITIONING
// =======================================

@mixin ekzo-positioning-helpers($prefix:'', $postfix:'') {

  // ---------------------------------------
  // Position
  // ---------------------------------------

  .#{$prefix}position--relative#{$postfix}    { position: relative !important; }
  .#{$prefix}position--absolute#{$postfix}    { position: absolute !important; }
  .#{$prefix}position--static#{$postfix}      { position: static   !important; }
  .#{$prefix}position--fixed#{$postfix}       { position: fixed    !important; }

  .#{$prefix}position--top#{postfix}          { top:    0 !important; }
  .#{$prefix}position--right#{postfix}        { right:  0 !important; }
  .#{$prefix}position--bottom#{postfix}       { bottom: 0 !important; }
  .#{$prefix}position--left#{postfix}         { left:   0 !important; }

  .#{$prefix}position--top--auto#{postfix}    { top:    auto !important; }
  .#{$prefix}position--right--auto#{postfix}  { right:  auto !important; }
  .#{$prefix}position--bottom--auto#{postfix} { bottom: auto !important; }
  .#{$prefix}position--left--auto#{postfix}   { left:   auto !important; }

  .#{$prefix}position--cover#{postfix}        { top: 0 !important; right: 0 !important; bottom: 0 !important; left: 0 !important; }

  // ---------------------------------------
  // Floats
  // ---------------------------------------

  .#{$prefix}float--right#{$postfix}   { float: right !important; }
  .#{$prefix}float--left#{$postfix}    { float: left  !important; }
  .#{$prefix}float--flush#{$postfix}   { float: none  !important; }

  // ---------------------------------------
  // Alignments
  // ---------------------------------------

  .#{$prefix}align--left#{$postfix}          { text-align: left    !important; }
  .#{$prefix}align--right#{$postfix}         { text-align: right   !important; }
  .#{$prefix}align--center#{$postfix}        { text-align: center  !important; }
  .#{$prefix}align--justify#{$postfix}       { text-align: justify !important; }

  .#{$prefix}align--top#{$postfix}           { vertical-align: top      !important; }
  .#{$prefix}align--middle#{$postfix}        { vertical-align: middle   !important; }
  .#{$prefix}align--bottom#{$postfix}        { vertical-align: bottom   !important; }
  .#{$prefix}align--baseline#{$postfix}      { vertical-align: baseline !important; }

}

// ---------------------------------------
// Call all positioning helpers
// ---------------------------------------

@if $ekzo-enable-positioning-helpers {

  @include ekzo-positioning-helpers($prefix: $ekzo-helpers-ns);

} // endif

// ---------------------------------------
// Responsive positioning helpers
// ---------------------------------------

@if $ekzo-enable-positioning-helpers {

  @include ekzo-for-each-breakpoint($matches: $ekzo-responsive-positioning-helpers-breakpoints) {
    @include ekzo-positioning-helpers($prefix: $ekzo-helpers-ns, $postfix: ekzo-temp());
  };

} // endif