// scss-lint:disable ImportantRule

// =======================================
// ^HELPERS.POSITIONING
// =======================================


// ---------------------------------------
// Position
// ---------------------------------------
//
// Set position to `relative` or `absolute`
// Useful in case you need to put in it absolutely-positioned container
// or to move it around

.#{$ekzo-ns}#{$ekzo-helpers-ns}position--relative { position: relative; }
.#{$ekzo-ns}#{$ekzo-helpers-ns}position--absolute { position: absolute; }



// ---------------------------------------
// Floats
// ---------------------------------------

.#{$ekzo-ns}#{$ekzo-helpers-ns}float--right   { float: right !important; }
.#{$ekzo-ns}#{$ekzo-helpers-ns}float--left    { float: left  !important; }
.#{$ekzo-ns}#{$ekzo-helpers-ns}float--flush   { float: none  !important; }



// ---------------------------------------
// Alignments
// ---------------------------------------
//
// 1. @legacy Forcing flex alignment for grids, which have been written before flex-based implementation

.#{$ekzo-ns}#{$ekzo-helpers-ns}align--left          { text-align: left    !important; justify-content: flex-start    !important; } // 1
.#{$ekzo-ns}#{$ekzo-helpers-ns}align--right         { text-align: right   !important; justify-content: flex-end      !important; } // 1
.#{$ekzo-ns}#{$ekzo-helpers-ns}align--center        { text-align: center  !important; justify-content: center        !important; } // 1
.#{$ekzo-ns}#{$ekzo-helpers-ns}align--justify       { text-align: justify !important; justify-content: space-between !important; } // 1

.#{$ekzo-ns}#{$ekzo-helpers-ns}align--top           { vertical-align: top    !important; align-items: flex-start !important; } // 1
.#{$ekzo-ns}#{$ekzo-helpers-ns}align--middle        { vertical-align: middle !important; align-items: center     !important; } // 1
.#{$ekzo-ns}#{$ekzo-helpers-ns}align--bottom        { vertical-align: bottom !important; align-items: flex-end   !important; } // 1