
/*------------------------------------*\
		$HELPERS.SPACING
\*------------------------------------*/


/**
 * Add/remove margins
 */

.margin                  { margin:        $base-spacing-unit !important; }

.margin--center          { margin-left:   auto !important; margin-right: auto !important; }

.margin--top             { margin-top:    $base-spacing-unit !important; }
.margin--right           { margin-right:  $base-spacing-unit !important; }
.margin--bottom          { margin-bottom: $base-spacing-unit !important; }
.margin--left            { margin-left:   $base-spacing-unit !important; }
.margin--ends            { margin-top:    $base-spacing-unit !important; margin-bottom: $base-spacing-unit !important; }
.margin--sides           { margin-right:  $base-spacing-unit !important; margin-left:   $base-spacing-unit !important; }

.margin--half            { margin:        $half-spacing-unit !important; }
.margin--top--half       { margin-top:    $half-spacing-unit !important; }
.margin--right--half     { margin-right:  $half-spacing-unit !important; }
.margin--bottom--half    { margin-bottom: $half-spacing-unit !important; }
.margin--left--half      { margin-left:   $half-spacing-unit !important; }
.margin--ends--half      { margin-top:    $half-spacing-unit !important; margin-bottom: $half-spacing-unit !important; }
.margin--sides--half     { margin-right:  $half-spacing-unit !important; margin-left:   $half-spacing-unit !important; }

.margin--twice           { margin:        $base-spacing-unit * 2 !important; }
.margin--top--twice      { margin-top:    $base-spacing-unit * 2 !important; }
.margin--right--twice    { margin-right:  $base-spacing-unit * 2 !important; }
.margin--bottom--twice   { margin-bottom: $base-spacing-unit * 2 !important; }
.margin--left--twice     { margin-left:   $base-spacing-unit * 2 !important; }
.margin--ends--twice     { margin-top:    $base-spacing-unit * 2 !important; margin-bottom: $base-spacing-unit * 2 !important; }
.margin--sides--twice    { margin-right:  $base-spacing-unit * 2 !important; margin-left:   $base-spacing-unit * 2 !important; }

.margin--flush           { margin:        0 !important; }
.margin--top--flush      { margin-top:    0 !important; }
.margin--right--flush    { margin-right:  0 !important; }
.margin--bottom--flush   { margin-bottom: 0 !important; }
.margin--left--flush     { margin-left:   0 !important; }
.margin--ends--flush     { margin-top:    0 !important; margin-bottom: 0 !important; }
.margin--sides--flush    { margin-right:  0 !important; margin-left:   0 !important; }


/**
 * Pull items full width of `.island` parents.
 */

.full-bleed {
	margin-right:-$base-spacing-unit !important;
	margin-left: -$base-spacing-unit !important;

	.islet & {
		margin-right: -($half-spacing-unit) !important;
		margin-left:  -($half-spacing-unit) !important;
	}

}



/**
 * Add/remove paddings
 */

.padding                  { padding:        $base-spacing-unit !important; }

.padding--top             { padding-top:    $base-spacing-unit !important; }
.padding--right           { padding-right:  $base-spacing-unit !important; }
.padding--bottom          { padding-bottom: $base-spacing-unit !important; }
.padding--left            { padding-left:   $base-spacing-unit !important; }
.padding--ends            { padding-top:    $base-spacing-unit !important; padding-bottom: $base-spacing-unit !important; }
.padding--sides           { padding-right:  $base-spacing-unit !important; padding-left:   $base-spacing-unit !important; }

.padding--half            { padding:        $half-spacing-unit !important; }
.padding--top--half       { padding-top:    $half-spacing-unit !important; }
.padding--right--half     { padding-right:  $half-spacing-unit !important; }
.padding--bottom--half    { padding-bottom: $half-spacing-unit !important; }
.padding--left--half      { padding-left:   $half-spacing-unit !important; }
.padding--ends--half      { padding-top:    $half-spacing-unit !important; padding-bottom: $half-spacing-unit !important; }
.padding--sides--half     { padding-right:  $half-spacing-unit !important; padding-left:   $half-spacing-unit !important; }

.padding--twice           { padding:        $base-spacing-unit * 2 !important; }
.padding--top--twice      { padding-top:    $base-spacing-unit * 2 !important; }
.padding--right--twice    { padding-right:  $base-spacing-unit * 2 !important; }
.padding--bottom--twice   { padding-bottom: $base-spacing-unit * 2 !important; }
.padding--left--twice     { padding-left:   $base-spacing-unit * 2 !important; }
.padding--ends--twice     { padding-top:    $base-spacing-unit * 2 !important; padding-bottom: $base-spacing-unit * 2 !important; }
.padding--sides--twice    { padding-right:  $base-spacing-unit * 2 !important; padding-left:   $base-spacing-unit * 2 !important; }

.padding--flush           { padding:        0 !important; }
.padding--top--flush      { padding-top:    0 !important; }
.padding--right--flush    { padding-right:  0 !important; }
.padding--bottom--flush   { padding-bottom: 0 !important; }
.padding--left--flush     { padding-left:   0 !important; }
.padding--ends--flush     { padding-top:    0 !important; padding-bottom: 0 !important; }
.padding--sides--flush    { padding-right:  0 !important; padding-left:   0 !important; }