// stylelint-disable declaration-no-important

// =============================================================================
// Typography.misc
// =============================================================================

@mixin exports ($ns: $ekzo-h-ns) {

  // -----------------------------------------------------------------------------
  // Text styling
  // -----------------------------------------------------------------------------

  .#{$ns}font-weight--inherit   { font-weight: inherit  !important; }
  .#{$ns}font-weight--lighter   { font-weight: lighter  !important; }
  .#{$ns}font-weight--thin      { font-weight: 100      !important; }
  .#{$ns}font-weight--light     { font-weight: 200      !important; }
  .#{$ns}font-weight--semilight { font-weight: 300      !important; }
  .#{$ns}font-weight--normal    { font-weight: normal   !important; }
  .#{$ns}font-weight--semibold  { font-weight: 600      !important; }
  .#{$ns}font-weight--bold      { font-weight: bold     !important; }
  .#{$ns}font-weight--bolder    { font-weight: bolder   !important; }

  .#{$ns}font-style--normal     { font-style: normal !important; }
  .#{$ns}font-style--italic     { font-style: italic !important; }

  .#{$ns}text--caps             { text-transform: uppercase  !important; }
  .#{$ns}text--small-caps       { font-variant:   small-caps !important; }
  .#{$ns}text--lower            { text-transform: lowercase  !important; }
  .#{$ns}text--capitalize       { text-transform: capitalize !important; }

  .#{$ns}text--nowrap           { white-space: nowrap; }
  .#{$ns}text--break-word       { word-wrap:   break-word; }

  .#{$ns}text--truncate         { @include ekzo-truncate(100%); }

  // -----------------------------------------------------------------------------
  // Underline styling
  // -----------------------------------------------------------------------------
  // stylelint-disable selector-list-comma-newline-after

  .#{$ns}text--underline    { text-decoration: underline; }
  .#{$ns}text--underline\:h { &:hover, &:focus { text-decoration: underline; } }
  .#{$ns}text--underline0   { text-decoration: none; }

}