// scss-lint:disable ImportantRule

// =======================================
// ^HELPERS.TYPOGRAPHY
// =======================================

@mixin ekzo-typography-helpers($prefix: '', $postfix: '') {

  // ---------------------------------------
  // Complex text helpers
  // ---------------------------------------
  // Including font-sizes, line-heights
  // For headings also included font-weight, font style and colors (if enabled in settings)

  // ----
  // Text

  @include ekzo-font-size-classes(text, $prefix: $prefix + text--, $postfix: $postfix);

  // ----
  // Standard headings
  //
  // When we define a heading we also define a corresponding class to go with it.
  // This allows us to apply, say, `class="h3"` to any heading to receive a `h3`-like heading

  @include ekzo-font-size-classes(headings, $prefix: $prefix, $postfix: $postfix) { @extend %#{$ekzo-ns}#{$ekzo-generics-ns}headings-properties; }

  // ----
  // Extra headings
  //
  // A series of classes for setting massive type; for use in heroes, promos, etc.

  @include ekzo-font-size-classes(extra-headings, $prefix: $prefix + extra-h--, $postfix: $postfix) {
    @if ekzo-ui-font-family(extra-headings)                { font-family: ekzo-ui-font-family(extra-headings); }
    @include ekzo-theme() { @if ekzo-theme(extra-headings) { color: ekzo-theme(extra-headings); } }
  }

  // ---------------------------------------
  // Font-sizes helpers
  // ---------------------------------------
  // Only font-size property, without line-heights

  @include ekzo-font-size-classes(text, $prefix: $prefix + font-size--, $postfix: $postfix, $line-height: false);
  @include ekzo-font-size-classes(headings, $prefix: $prefix + font-size--, $postfix: $postfix, $line-height: false);
  @include ekzo-font-size-classes(extra-headings, $prefix: $prefix + font-size-- + extra-h--, $postfix: $postfix, $line-height: false);

  // @todo Add to font-sizes map

  .#{$prefix}font-size--em--#{$postfix}       { font-size: .5em; }
  .#{$prefix}font-size--em-#{$postfix}        { font-size: .75em; }
  .#{$prefix}font-size--em\+---#{$postfix}    { font-size: 1.25em; }
  .#{$prefix}font-size--em\+--#{$postfix}     { font-size: 1.5em; }
  .#{$prefix}font-size--em\+#{$postfix}       { font-size: 2em; }
  .#{$prefix}font-size--em\+\+---#{$postfix}  { font-size: 2.25em; }
  .#{$prefix}font-size--em\+\+--#{$postfix}   { font-size: 2.5em; }
  .#{$prefix}font-size--em\+\+#{$postfix}     { font-size: 3em; }
  .#{$prefix}font-size--em\+\+\+#{$postfix}   { font-size: 4em; }
  .#{$prefix}font-size--em\+\+\+\+#{$postfix} { font-size: 5em; }

  .#{$prefix}font-size--inherit#{$postfix}    { font-size: inherit; }

  // ---------------------------------------
  // Line-height helpers
  // ---------------------------------------

  @include ekzo-font-size-classes(text, $prefix: $prefix + line-height--, $postfix: $postfix, $line-height: only);
  @include ekzo-font-size-classes(headings, $prefix: $prefix + line-height--, $postfix: $postfix, $line-height: only);
  @include ekzo-font-size-classes(extra-headings, $prefix: $prefix + line-height-- + extra-h--, $postfix: $postfix, $line-height: only);

  // ----
  // Take element out of typography rhythm
  // Should be applied on custom elements with unusual styling

  .#{$prefix}line-height--flush#{$postfix} { line-height: 1 !important; }

}

// ---------------------------------------
// Call all positioning helpers
// ---------------------------------------

@if $ekzo-enable-typography-helpers {

  @include ekzo-typography-helpers($prefix: $ekzo-ns + $ekzo-helpers-ns);

} // endif

// ---------------------------------------
// Responsive positioning helpers
// ---------------------------------------

@if $ekzo-enable-typography-helpers {

  @include ekzo-each-breakpoint($enable-for: $ekzo-responsive-typography-helpers-breakpoints) {
    @include ekzo-typography-helpers($prefix: $ekzo-ns + $ekzo-helpers-ns, $postfix: ekzo-temp());
  };

} // endif

// ---------------------------------------
// Text styling
// ---------------------------------------

.#{$ekzo-ns}#{$ekzo-helpers-ns}font-weight--inherit  { font-weight: inherit  !important; }

.#{$ekzo-ns}#{$ekzo-helpers-ns}font-weight--lighter  { font-weight: lighter  !important; }
.#{$ekzo-ns}#{$ekzo-helpers-ns}font-weight--light    { font-weight: 300  !important; }
.#{$ekzo-ns}#{$ekzo-helpers-ns}font-weight--normal   { font-weight: 400  !important; }
.#{$ekzo-ns}#{$ekzo-helpers-ns}font-weight--semibold { font-weight: 600  !important; }
.#{$ekzo-ns}#{$ekzo-helpers-ns}font-weight--bold     { font-weight: bold !important; }
.#{$ekzo-ns}#{$ekzo-helpers-ns}font-weight--bolder   { font-weight: bolder !important; }

.#{$ekzo-ns}#{$ekzo-helpers-ns}font-style--normal    { font-style: normal !important; }
.#{$ekzo-ns}#{$ekzo-helpers-ns}font-style--italic    { font-style: italic !important; }

.#{$ekzo-ns}#{$ekzo-helpers-ns}text--uppercase       { text-transform: uppercase !important; }
.#{$ekzo-ns}#{$ekzo-helpers-ns}text--lowercase       { text-transform: lowercase !important; }
.#{$ekzo-ns}#{$ekzo-helpers-ns}text--caps            { text-transform: capitalize !important; }

.#{$ekzo-ns}#{$ekzo-helpers-ns}text--nowrap          { white-space: nowrap; }

.#{$ekzo-ns}#{$ekzo-helpers-ns}text--truncate        { @include ekzo-truncate(100%); }

// ---------------------------------------
// Underline styling
// ---------------------------------------

.#{$ekzo-ns}#{$ekzo-helpers-ns}text--underline        { text-decoration: underline; }
.#{$ekzo-ns}#{$ekzo-helpers-ns}text--underline--flush { text-decoration: none; }

// ----
// Removes underline, but adds it on hover

.#{$ekzo-ns}#{$ekzo-helpers-ns}text--underline--rev {
  text-decoration: none;

  &:hover,
  &:focus,
  &:active { text-decoration: underline; }

}