
// =======================================
// ^HELPERS.TYPOGRAPHY
// =======================================


// ---------------------------------------
// Text styling
// ---------------------------------------

.text--light      { font-weight: 300  !important; }
.text--normal     { font-weight: 400  !important; }
.text--semibold   { font-weight: 600  !important; }
.text--bold       { font-weight: bold !important; }

.text--italic     { font-style: italic !important; }

.text--caps       { text-transform: uppercase !important; }

.text--nowrap     { white-space: nowrap; }



// ---------------------------------------
// Underline styling
// ---------------------------------------

.text--underline { text-decoration: underline; }
.text--unline    { text-decoration: none; }

// ----
// Removes underline, but adds it on hover

.text--underline--rev {
	text-decoration: none;

	&:hover { text-decoration: underline; }
}

// ----
// Removes underline from element, but adds it
// to child span
//
// Useful for anchors with icons inside it

.text--reline {
	text-decoration: none;

	span { text-decoration: underline; }

	&:hover span { text-decoration: none; }
}

// ----
// Removes underline, but adds it to child span on hover

.text--reline--rev {
	text-decoration: none;

	span { text-decoration: none; }

	&:hover span { text-decoration: underline; }
}



// ---------------------------------------
// Line height
// ---------------------------------------
//
// Take element out of typography rhythm
// Should be applied on custom elements with unusual styling

.unrhythm { line-height: 1 !important; }