
// =======================================
// ^HELPERS.TYPOGRAHY.FONT-FAMILIES
// =======================================

.font-family--inherit {  font-family: inherit !important; }

// ---------------------------------------
// All fonts-families
// ---------------------------------------

@if $ekzo-enable-font-families-helpers {

  @each $group, $font-family in $ekzo-font-families {
    @if $font-family {

      .#{$ekzo-helpers-ns}font-family--#{$group} { font-family: $font-family; }

    }
  }

}

// ---------------------------------------
// UI fonts-families
// ---------------------------------------

@if $ekzo-enable-ui-font-families-helpers {

    @each $group, $font-family in $ekzo-ui-font-families {
      @if $font-family {

        .#{$ekzo-helpers-ns}font-family--#{$group} { font-family: $font-family; }

      }
    }

}