// stylelint-disable declaration-no-important

// =============================================================================
// ^HELPERS.TYPOGRAPHY.MISC
// =============================================================================

// -----------------------------------------------------------------------------
// Text styling
// -----------------------------------------------------------------------------

.#{$ekzo-h-ns}font-weight--inherit   { font-weight: inherit  !important; }
.#{$ekzo-h-ns}font-weight--lighter   { font-weight: lighter  !important; }
.#{$ekzo-h-ns}font-weight--light     { font-weight: 200      !important; }
.#{$ekzo-h-ns}font-weight--semilight { font-weight: 300      !important; }
.#{$ekzo-h-ns}font-weight--normal    { font-weight: normal   !important; }
.#{$ekzo-h-ns}font-weight--semibold  { font-weight: 600      !important; }
.#{$ekzo-h-ns}font-weight--bold      { font-weight: bold     !important; }
.#{$ekzo-h-ns}font-weight--bolder    { font-weight: bolder   !important; }

.#{$ekzo-h-ns}font-style--normal     { font-style: normal !important; }
.#{$ekzo-h-ns}font-style--italic     { font-style: italic !important; }

.#{$ekzo-h-ns}text--caps             { text-transform: uppercase  !important; }
.#{$ekzo-h-ns}text--lower            { text-transform: lowercase  !important; }
.#{$ekzo-h-ns}text--capital          { text-transform: capitalize !important; }

.#{$ekzo-h-ns}text--nowrap           { white-space: nowrap; }
.#{$ekzo-h-ns}text--break-word       { word-wrap:   break-word; }

.#{$ekzo-h-ns}text--truncate         { @include ekzo-truncate(100%); }

// -----------------------------------------------------------------------------
// Underline styling
// -----------------------------------------------------------------------------
// stylelint-disable selector-list-comma-newline-after

.#{$ekzo-h-ns}text--underline    { text-decoration: underline; }
.#{$ekzo-h-ns}text--underline\:h { &:hover, &:focus { text-decoration: underline; } }
.#{$ekzo-h-ns}text--underline0   { text-decoration: none; }