// scss-lint:disable EmptyLineBetweenBlocks, ImportantRule

// =======================================
// ^WIDTHS
// =======================================
//
// @todo Updated docs
//
// Sizes in human readable format. These are used in conjunction with other
// objects and abstractions found in Ekzo.sass, most commonly the grid system
// and faux flexbox.

// ---------------------------------------
// Widths mixin
// ---------------------------------------
//
// @param {string} $postfix='' - namespace (used for breakpoins generation)

@mixin ekzo-widths($postfix: '') {

  // ----
  // Whole

  [class~='1/1#{$postfix}']       { width: 100% !important; }

  // ----
  // Halves

  [class~='1/2#{$postfix}'],
  [class~='2/4#{$postfix}'],
  [class~='3/6#{$postfix}'],
  [class~='4/8#{$postfix}'],
  [class~='5/10#{$postfix}'],
  [class~='6/12#{$postfix}']      { width: 50% !important; }

  // ----
  // Thirds

  [class~='1/3#{$postfix}'],
  [class~='2/6#{$postfix}'],
  [class~='3/9#{$postfix}'],
  [class~='4/12#{$postfix}']      { width: 33.3333333% !important; }
  [class~='2/3#{$postfix}'],
  [class~='4/6#{$postfix}'],
  [class~='6/9#{$postfix}'],
  [class~='8/12#{$postfix}']      { width: 66.6666666% !important; }

  // ----
  // Quarters

  [class~='1/4#{$postfix}'],
  [class~='2/8#{$postfix}'],
  [class~='3/12#{$postfix}']      { width: 25% !important; }
  [class~='3/4#{$postfix}'],
  [class~='6/8#{$postfix}'],
  [class~='9/12#{$postfix}']      { width: 75% !important; }

  // ----
  // Fifths

  [class~='1/5#{$postfix}'],
  [class~='2/10#{$postfix}']      { width: 20% !important; }
  [class~='2/5#{$postfix}'],
  [class~='4/10#{$postfix}']      { width: 40% !important; }
  [class~='3/5#{$postfix}'],
  [class~='6/10#{$postfix}']      { width: 60% !important; }
  [class~='4/5#{$postfix}'],
  [class~='8/10#{$postfix}']      { width: 80% !important; }

  // ----
  // Sixths

  [class~='1/6#{$postfix}'],
  [class~='2/12#{$postfix}']      { width: 16.6666666% !important; }
  [class~='5/6#{$postfix}'],
  [class~='10/12#{$postfix}']     { width: 83.3333333% !important; }

  // ----
  // Eighths

  [class~='1/8#{$postfix}']       { width: 12.5% !important; }
  [class~='3/8#{$postfix}']       { width: 37.5% !important; }
  [class~='5/8#{$postfix}']       { width: 62.5% !important; }
  [class~='7/8#{$postfix}']       { width: 87.5% !important; }

  // ----
  // Ninths

  [class~='1/9#{$postfix}']       { width: 11.1111111% !important; }
  [class~='2/9#{$postfix}']       { width: 22.2222222% !important; }
  [class~='4/9#{$postfix}']       { width: 44.4444444% !important; }
  [class~='5/9#{$postfix}']       { width: 55.5555555% !important; }
  [class~='7/9#{$postfix}']       { width: 77.7777777% !important; }
  [class~='8/9#{$postfix}']       { width: 88.8888888% !important; }

  // ----
  // Tenths

  [class~='1/10#{$postfix}']      { width: 10% !important; }
  [class~='3/10#{$postfix}']      { width: 30% !important; }
  [class~='7/10#{$postfix}']      { width: 70% !important; }
  [class~='9/10#{$postfix}']      { width: 90% !important; }

  // ----
  // Twelfths

  [class~='1/12#{$postfix}']      { width:  8.3333333% !important; }
  [class~='5/12#{$postfix}']      { width: 41.6666666% !important; }
  [class~='7/12#{$postfix}']      { width: 58.3333333% !important; }
  [class~='11/12#{$postfix}']     { width: 91.6666666% !important; }

} // widths()

// ---------------------------------------
// Call all widths
// ---------------------------------------

@include ekzo-widths();

// ---------------------------------------
// Responsive widths
// ---------------------------------------

@if $ekzo-enable-responsive-widths {

  @each $breakpoint, $value in ekzo-get($ekzo-breakpoints, breakpoints) {
    @include ekzo-breakpoint($breakpoint) {
      @include ekzo-widths($postfix: '\\@#{$breakpoint}');
    }
  }

} // endif