
/*------------------------------------*\
		$ICONS
\*------------------------------------*/


.icon {
	position: relative;

	background: url(../img/sprite.png) no-repeat;

	vertical-align: middle;

	@extend .display--inline;
}