
/*------------------------------------*\
		$ICONS
\*------------------------------------*/

.icon {
	background: url(../img/sprite.png) no-repeat;
	vertical-align: middle;
	position: relative;

	@extend .inline;
}