
/*------------------------------------*\
		$LISTS
\*------------------------------------*/

// /**
//  * Remove vertical spacing from nested lists.
//  */

// li {
//     > ul,
//     > ol{
//          margin-bottom:0;
//      }
// }


/**
 * Create big blocky lists of content, e.g.:
 *
		<ul class="block-list">
			<li>Foo</li>
			<li>Bar</li>
			<li>Baz</li>
			<li><a href="#" class="block-list__link">Foo Bar Baz</a></li>
		</ul>
 *
 * Extend this object in your theme stylesheet.
 *
 * Demo: jsfiddle.net/inuitcss/hR57q
 *
 */

.block-list {
		// list-style:none;
		// margin-left:0;

		> li {
			padding: $half-spacing-unit;
		}
		> li > a {
			display: block;

			padding: $half-spacing-unit;
			margin: -$half-spacing-unit;
		}
}


/**
 * The `.multi-list` object is a lot like the `.matrix` object only without the
 * blocky borders and padding.
 *
		<ul class="multi-list  four-cols">
				<li>Lorem</li>
				<li>Ipsum</li>
				<li>Dolor</li>
				<li>Sit</li>
		</ul>
 *
 * Demo: jsfiddle.net/inuitcss/Y2zrU
 *
 */

.multi-list {
	// list-style:none;
	// margin-left:0;
	@extend .clear;

	> li {
			float: left;
	}
}


	/**
	 * Apply these classes alongside the `.matrix` or `.multi-list` classes on
	 * lists to determine how wide their columns are.
	 */

	.two-cols > li {
			width: 50%;
	}
	.three-cols > li {
			width: 33.333%;
	}
	.four-cols > li {
			width: 25%;
	}
	.five-cols > li {
			width: 20%;
	}

	/**
	 * Unfortunately we have to qualify this selector in order to bring its
	 * specificity above the `.[number]-cols > li` selectors above.
	 */

	.multi-list > .all-cols {
			width: 100%;
	}


/* -------
 * Reduced margin between ul's elements
 */

ul.list-margin-half {

	> li + li {
		margin-top: $half-spacing-unit;
	}
}


/* -------
 * Ordered list defaults margins
 */

ol {
	margin-left: $twice-spacing-unit;

	li + li {
		margin-top: $half-spacing-unit;
	}
}