
// =======================================
// ^IE hacks
// =======================================
//
// Making world a bit better for IE
// Usually you don't want to write anything here

// ---------------------------------------
// Imports
// ---------------------------------------
//
// @note We need to declare here imports too, since it's standalone file

@import './tools/functions.maps';
@import './tools/functions.misc';
@import './tools/functions.typography';

// ---------------------------------------
// Mixins
// ---------------------------------------

@import './tools/mixins.arrows';
@import './tools/mixins.breakpoint';
@import './tools/mixins.icons';
@import './tools/mixins.misc';
@import './tools/mixins.sprites';
@import './tools/mixins.typography';

// ---------------------------------------
// Default options, styles, colors etc
// ---------------------------------------

@import 'settings.typography.defaults';
@import 'settings.framework.defaults';
@import 'settings.colors.defaults';
@import 'settings.assets.defaults';
@import 'settings.options.defaults';
@import 'settings.responsive.defaults';

// ---------------------------------------
// Grid legacy hacks
// ---------------------------------------
//
// @legacy
//
// 1. Serving non-flex grids for IE<10
// 2. Used display model `inline-block` yeilds unwanted whitespaces
//    which we have to removed with quite cruel method

.#{$ekzo-ns}grid { letter-spacing: -.31em; }

  .grid__item {
    display: inline-block; // 1
    letter-spacing: normal; // 2
  }

// ---------------------------------------
// Grid modifiers hacks
// ---------------------------------------
//
// @legacy

@mixin ekzo-grid-types($postfix: '') {

  // ----
  // Grid items aligment

  .grid--center#{$postfix} {
    text-align: center;

    > .grid__item { text-align: left; }

  }

  .grid--middle#{$postfix} {

    > .grid__item { vertical-align: middle; }

  }

  .grid--bottom#{$postfix} {

    > .grid__item { vertical-align: bottom; }

  }

}

// ---------------------------------------
// Call grid modifiers mixin
// ---------------------------------------

@if $ekzo-enable-grid {

  @include ekzo-grid-types();

} // endif

// ---------------------------------------
// Call responsive grid modifiers mixin
// ---------------------------------------

@if $ekzo-enable-grid and $ekzo-enable-responsive-grid {

  @each $breakpoint, $value in ekzo-get($ekzo-breakpoints, breakpoints) {
    @include ekzo-breakpoint($breakpoint) {
      @include ekzo-grid-types($postfix: '\\@#{$breakpoint}');
    }
  }

} // endif