
// =======================================
// ^IE hacks
// =======================================
//
// Making world a bit better for IE
// Usually you don't want to write anything here

// ---------------------------------------
// Imports
// ---------------------------------------
//
// @note We need to declare here imports too, since it's standalone file

// ---------------------------------------
// Tools: functions and mixins
// ---------------------------------------

@import './tools/index';

// ---------------------------------------
// Default options, styles, colors etc
// ---------------------------------------

@import 'settings.typography.defaults';
@import 'settings.framework.defaults';
@import 'settings.colors.defaults';
@import 'settings.assets.defaults';
@import 'settings.options.defaults';
@import 'settings.responsive.defaults';

// ---------------------------------------
// Grid legacy hacks
// ---------------------------------------
//
// @legacy
//
// 1. Serving non-flex grids for IE<10
// 2. Used display model `inline-block` yeilds unwanted whitespaces
//    which we have to removed with quite cruel method

.#{$ekzo-ns}#{$ekzo-objects-ns}grid { letter-spacing: -.31em; }

  .#{$ekzo-ns}#{$ekzo-objects-ns}grid__item {
    vertical-align: top;
    display: inline-block; // 1
    letter-spacing: normal; // 2
  }

// ---------------------------------------
// Flex aligment hacks
// ---------------------------------------
// When used with `.o-grid`, try to mimic flex
// behavior as close as possible

@mixin ekzo-flex-helpers($prefix:'', $postfix:'') {

  // -----
  // Main axis aligment

  .#{$prefix}flex--nowrap#{$postfix}    {
    display: table;

    > { display: table-cell }

  }

  .#{$prefix}flex-x--start#{$postfix} { text-align: left !important; }

  .#{$prefix}flex-x--center#{$postfix} {
    text-align: center !important;

    > { text-align: left; }

  }

  .#{$prefix}flex-x--end#{$postfix} {
    text-align: right !important;

    > { text-align: left; }

  }

  .#{$prefix}flex-x--between#{$postfix},
  .#{$prefix}flex-x--around#{$postfix} {
    text-align: justify !important;

    > { text-align: left; }

  }

  // -----
  // Cross axis aligment

  .#{$prefix}flex-y--top#{$postfix}      { > { vertical-align: top      !important; } }
  .#{$prefix}flex-y--center#{$postfix}   { > { vertical-align: middle   !important; } }
  .#{$prefix}flex-y--end#{$postfix}      { > { vertical-align: bottom   !important; } }
  .#{$prefix}flex-y--baseline#{$postfix} { > { vertical-align: baseline !important; } }

  .#{$prefix}flex__item--start#{$postfix}    { vertical-align: top      !important; }
  .#{$prefix}flex__item--center#{$postfix}   { vertical-align: middle   !important; }
  .#{$prefix}flex__item--end#{$postfix}      { vertical-align: bottom   !important; }
  .#{$prefix}flex__item--baseline#{$postfix} { vertical-align: baseline !important; }

}

// ---------------------------------------
// Call all flex helpers
// ---------------------------------------

@if $ekzo-enable-flex-helpers {

  @include ekzo-flex-helpers($prefix: $ekzo-ns + $ekzo-helpers-ns);

} // endif

// ---------------------------------------
// Responsive flex helpers
// ---------------------------------------

@if $ekzo-enable-flex-helpers {

  @include ekzo-each-breakpoint($enable-for: $ekzo-responsive-flex-helpers-breakpoints) {
    @include ekzo-flex-helpers($prefix: $ekzo-ns + $ekzo-helpers-ns, $postfix: ekzo-temp());
  };

} // endif