
// =======================================
// ^IE hacks
// =======================================
//
// Making world a bit better for IE
// Usually you don't want to write anything here

@import './tools/functions.maps';

@import './tools/mixins.breakpoint';

@import 'settings.options.defaults';
@import 'settings.responsive.defaults';

// ---------------------------------------
// Grid legacy hacks
// ---------------------------------------
//
// @legacy
//
// 1. Serving non-flex grids for IE<10
// 2. Used display model `inline-block` yeilds unwanted whitespaces
//    which we have to removed with quite cruel method

.grid { letter-spacing: -.31em; }

	.grid__item {
		display: inline-block; // 1

		letter-spacing: normal; // 2
	}


// ---------------------------------------
// Grid modifiers hacks
// ---------------------------------------

@mixin ekzo-grid-types($n: '') {

	// ----
	// Grid items aligment

	.#{$n}grid--center {
		text-align: center;

		> .grid__item { text-align: left; }

	}

	.#{$n}grid--middle {

		> .grid__item { vertical-align: middle; }

	}

	.#{$n}grid--bottom {

		> .grid__item { vertical-align: bottom; }

	}

}

@include ekzo-grid-types();

@if $ekzo-enable-grid {
	@if $ekzo-enable-responsive-grid {

		@each $breakpoint, $value in map-get-deep($ekzo-breakpoints, breakpoints) {
			@include ekzo-breakpoint($breakpoint) {
				@include ekzo-grid-types('#{$breakpoint}-');
			}
		}

	} // endif
} // endif