
// =======================================
// ^SETTING.OPTIONS.DEFAULTS
// =======================================

// ---------------------------------------
// ELEMENTS AND ABSTRACTIONS
// ---------------------------------------

$ekzo-enable-forms:                      true  !default;
$ekzo-enable-lists:                      true  !default;
$ekzo-enable-tables:                     true  !default;

$ekzo-enable-a-nav:                      true  !default;
$ekzo-enable-arrows:                     true  !default;
$ekzo-enable-breadcrumb:                 true  !default;
$ekzo-enable-buttons:                    true  !default;
$ekzo-enable-center-inner:               true  !default;
$ekzo-enable-flag:                       true  !default;
$ekzo-enable-floated-nav:                true  !default;
$ekzo-enable-grid:                       true  !default;
$ekzo-enable-iconic-list:                true  !default;
$ekzo-enable-icons:                      true  !default;
$ekzo-enable-island:                     true  !default;
$ekzo-enable-media:                      true  !default;
$ekzo-enable-nav:                        true  !default;
$ekzo-enable-pack:                       true  !default;
$ekzo-enable-reline:                     true  !default;
$ekzo-enable-reline-border:              true  !default;
$ekzo-enable-relink:                     true  !default;
$ekzo-enable-show-grid:                  true  !default;
$ekzo-enable-sprites:                    true  !default;
$ekzo-enable-tooltips:                   true  !default;

$ekzo-enable-colors-helpers:             true  !default;
$ekzo-enable-display-helpers:            true  !default;
$ekzo-enable-flex-helpers:               true  !default;
$ekzo-enable-font-families-helpers:      true  !default;
$ekzo-enable-positioning-helpers:        true  !default;
$ekzo-enable-typography-helpers:         true  !default;
$ekzo-enable-ui-colors-helpers:          true  !default;
$ekzo-enable-ui-font-families-helpers:   true  !default;
$ekzo-enable-widths-helpers:             true  !default;

$ekzo-margin-helpers-variations: (
  '--': ekzo-spacing(.5),
  '':   ekzo-spacing(1),
  \+--: ekzo-spacing(1.5),
  \+:   ekzo-spacing(2),
  \+\+: ekzo-spacing(3)
) !default;

$ekzo-bleed-helpers-variations: (
  '--': - ekzo-spacing(.5),
  '':   - ekzo-spacing(1),
  \+:   - ekzo-spacing(2)
) !default;

$ekzo-padding-helpers-variations: (
  '--': ekzo-spacing(.5),
  '':   ekzo-spacing(1),
  \+:   ekzo-spacing(2)
) !default;

$ekzo-widths-helpers-fractions:          (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12) !default;

// ---------------------------------------
// Theming
// ---------------------------------------

$ekzo-enable-theming: true !default;

// ---------------------------------------
// Border-box
// ---------------------------------------

$ekzo-global-border-box: true !default;

// ---------------------------------------
// A11y
// ---------------------------------------
// @note Please, disable it only if your links and forms have prominent `:focus` style,
//       otherwise people with limited capabilities and keyboard-only won't be able
//       to use your website at all

$ekzo-disable-links-outline: false !default;
$ekzo-disable-forms-outline: false !default;
$ekzo-disable-btn-outline:   false !default;

// ---------------------------------------
// Fonts
// ---------------------------------------

$ekzo-use-svg-fonts: false !default;