
// =======================================
// ^SETTING.RESPONSIVE.DEFAULTS
// =======================================

// ---------------------------------------
// Responsiveness
// ---------------------------------------

$ekzo-enable-responsive-buttons: true !default;
$ekzo-enable-responsive-grid:    true !default;
$ekzo-enable-responsive-spacing: true !default;
$ekzo-enable-responsive-tables:  true !default;
$ekzo-enable-responsive-widths:  true !default;

$ekzo-enable-responsive-helpers-for-breakpoints: (
  phone, phone-ls, tablet, tablet-ls, lap, desk
) !default;

// ---------------------------------------
// Breakpoints
// ---------------------------------------

$ekzo-bp-phone:     480px  !default;
$ekzo-bp-phone-ls:  600px  !default;
$ekzo-bp-tablet:    720px  !default;
$ekzo-bp-tablet-ls: 960px  !default;
$ekzo-bp-lap:       1280px !default;
$ekzo-bp-desk:      1600px !default;

$ekzo-breakpoints: (

  // ----
  // Sizes

  phone:      'screen and (min-width: #{$ekzo-bp-phone})',
  phone-ls:   'screen and (min-width: #{$ekzo-bp-phone-ls})',
  tablet:     'screen and (min-width: #{$ekzo-bp-tablet})',
  tablet-ls:  'screen and (min-width: #{$ekzo-bp-tablet-ls})',
  lap:        'screen and (min-width: #{$ekzo-bp-lap})',
  desk:       'screen and (min-width: #{$ekzo-bp-desk})',

  // ----
  // Screens

  retina:     'screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi)'

) !default;