
// =======================================
// ^SETTING.COLORS.DEFAULTS
// =======================================

$ekzo-colors: (
  dull-lavender: #a593e0,
  green-white:   #e0e3da,
  ivory:         #fffff3,
  shuttle-gray:  #566270
) !default;

$ekzo-base-brand-color:  ekzo-color(dull-lavender);

$ekzo-themes: () !default;
@include ekzo-extend-themes((
  base: (

    brand-color:                     $ekzo-base-brand-color,

    // ---------------------------------------
    // Text
    // ---------------------------------------

    text-color:                      ekzo-color(green-white),

    // ---------------------------------------
    // Links
    // ---------------------------------------

    links-color:                     $ekzo-base-brand-color,
    links-hover-color:               ekzo-tint($ekzo-base-brand-color, 20), // false to disable, color value to enable

    // ----
    // Links borders
    //
    // @param {string|false} - false to disable, color value to enable
    //
    // You have to enable width or style in `settings.options` too!

    links-border-top-color:          false,
    links-border-right-color:        false,
    links-border-bottom-color:       false,
    links-border-left-color:         false,

    links-hover-border-top-color:    false,
    links-hover-border-right-color:  false,
    links-hover-border-bottom-color: false,
    links-hover-border-left-color:   false,

    // ---------------------------------------
    // Headings
    // ---------------------------------------
    // @param {string|false} - false to disable, color value to enable

    headings-color:                  false,
    extra-headings-color:            false,

    // ---------------------------------------
    // Forms
    // ---------------------------------------

    forms-color:                     ekzo-color(shuttle-gray),
    forms-placeholder-color:         ekzo-tint(ekzo-color(shuttle-gray), 30),
    forms-bg-color:                  ekzo-tint(ekzo-color(shuttle-gray), 70),

    // ---------------------------------------
    // Buttons
    // ---------------------------------------
    // @param {string|false} - false to disable, color value to enable

    btn-color:                       ekzo-color(green-white),
    btn-bg-color:                    $ekzo-base-brand-color,
    btn-hover-color:                 false,
    btn-hover-bg-color:              ekzo-tint($ekzo-base-brand-color, 10),

    // ----
    // Buttons borders
    //
    // @param {string|false} - false to disable, color value to enable
    //
    // @note You have to enable width or style in `settings.options` too!

    btn-border-top-color:            false,
    btn-border-right-color:          false,
    btn-border-bottom-color:         false,
    btn-border-left-color:           false,

    btn-hover-border-top-color:      false,
    btn-hover-border-right-color:    false,
    btn-hover-border-bottom-color:   false,
    btn-hover-border-left-color:     false,

    // ----
    // Buttons states

    btn--positive-color:             #7ef76a,
    btn--positive-bg-color:          #1fa205,

    btn--negative-color:             #f87,
    btn--negative-bg-color:          #a20b05,

    btn--disabled-color:             #464646,
    btn--disabled-bg-color:          #d3d3d3,

    // ---------------------------------------
    // Breadcrumb
    // ---------------------------------------
    // @param {string|false} - false to disable, color value to enable

    breadcrumb-links-color:          ekzo-color(green-white),
    breadcrumb-delimiters-color:     ekzo-tint(ekzo-color(green-white), 50),

    // ---------------------------------------
    // Backgrounds
    // ---------------------------------------

    bg-color:                        ekzo-color(shuttle-gray)
  )
));