
// =======================================
// ^SETTING.COLORS.DEFAULTS
// =======================================

$brand-color:                  #f60    !default;

// ---------------------------------------
// Text
// ---------------------------------------

$ekzo-text-color:              #ccc    !default;

// ---------------------------------------
// Links
// ---------------------------------------

$ekzo-links-color:             #35adda !default;
$ekzo-links-hover-color:       #69d1c6 !default; // false to disable, color value to enable

// ---------------------------------------
// Headings
// ---------------------------------------

$ekzo-headings-color:          #585c5d              !default;
$ekzo-extra-headings-color:    $ekzo-headings-color !default;

// ---------------------------------------
// Forms
// ---------------------------------------

$ekzo-forms-bg-color:          #fff    !default;
$ekzo-forms-color:             #8b8b8b !default;
$ekzo-forms-placeholder-color: #a9a9a9 !default;

// ---------------------------------------
// Buttons
// ---------------------------------------

$ekzo-btn-color:               $ekzo-text-color !default;
$ekzo-btn-hover-color:         false            !default; // false to disable, color value to enable
$ekzo-btn-bg-color:            $brand-color     !default;

$ekzo-btn--positive-color:     #7ef76a          !default;
$ekzo-btn--positive-bg-color:  #1fa205          !default;

$ekzo-btn--negative-color:     #f87             !default;
$ekzo-btn--negative-bg-color:  #a20b05          !default;

$ekzo-btn--disabled-color:     #464646          !default;
$ekzo-btn--disabled-bg-color:  #d3d3d3          !default;

// ---------------------------------------
// Breadcrumb
// ---------------------------------------

$ekzo-breadcrumb-links-color:      #d3d3d3 !default;
$ekzo-breadcrumb-delimiters-color: #d3d3d3 !default;

// ---------------------------------------
// Backgrounds
// ---------------------------------------

$ekzo-bg-color:                   #353a39 !default;