
/*------------------------------------*\
		$SETTING.ASSETS.DEFAULTS
\*------------------------------------*/


/**
 * Paths to assets of site - images and fonts
 */

$base-assets-path:       '../../assets/' !default;
	$base-images-path:     '#{$base-assets-path}images/' !default;
	$base-fonts-path:      '#{$base-assets-path}fonts/' !default;


/**
 * Path to sprites file
 */

$base-sprites-file:      'sprites.png' !default;


/**
 * Icon-font
 */

$base-icon-font:         fontello !default;
$base-icon-font-version: 1 !default;