
// =======================================
// ^SETTING.ASSETS.DEFAULTS
// =======================================

// ---------------------------------------
// Paths
// ---------------------------------------

$base-assets-path:       '../../assets/'               !default;
$base-images-path:       '#{$base-assets-path}images/' !default;
$base-fonts-path:        '#{$base-assets-path}fonts/'  !default;

// ---------------------------------------
// Background
// ---------------------------------------

$base-bg:                $base-bg-color !default;

// ---------------------------------------
// Icons and sprites
// ---------------------------------------

$icons-prefix:           icon--        !default;
$sprites-prefix:         sprite--      !default;

$base-icon-font:         fontello      !default;
$base-icon-font-version: 79220573      !default;

$base-sprites-file:      'sprites.png' !default;