
// =======================================
// ^SETTING.TYPOGRAPHY.DEFAULTS
// =======================================

// ---------------------------------------
// Font sizes
// ---------------------------------------

$font-sizes: (
	content: (
		base:  14px,
		small: 12px,
		micro: 10px,
	),
	headings: (
		h1: 36px, // .h1
		h2: 30px, // .h2
		h3: 24px, // .h3
		h4: 21px, // .h4
		h5: 18px, // .h5
		h6: 16px, // .h6
	),
	extra-headings: (
		giga: 96px,
		mega: 72px,
		kilo: 44px,
	)
) !default;

$forms-font-size:              font-size(h5, headings) !default;
$forms-placeholder-font-size:  $forms-font-size        !default;

// ---------------------------------------
// Line heights
// ---------------------------------------

$base-line-height:             font-size(base) * 1.5 !default;

// ---------------------------------------
// Font famylies
// ---------------------------------------

$base-font-family:             sans-serif          !default;
$second-font-family:           sans-serif          !default;

$headings-font-family:         $second-font-family !default;
$forms-font-family:            $base-font-family   !default;

// ---------------------------------------
// Font weights and styles
// ---------------------------------------

$base-font-weight:             normal !default;

$headings-font-weight:         normal !default;
$breadcrumb-root-font-weight:  bold   !default;

$forms-placeholder-font-style: italic !default;