
// =======================================
// ^SETTING.ASSETS.DEFAULTS
// =======================================

// ---------------------------------------
// Paths
// ---------------------------------------

$ekzo-assets-path:       '../../assets'                 !default;
$ekzo-images-path:       '#{$ekzo-assets-path}/images/' !default;
$ekzo-fonts-path:        '#{$ekzo-assets-path}/fonts/'  !default;

// ---------------------------------------
// Background
// ---------------------------------------

$ekzo-bg:                $ekzo-bg-color  !default;

// ---------------------------------------
// Icons and sprites
// ---------------------------------------

$ekzo-icons-prefix:      icon--          !default;
$ekzo-sprites-prefix:    sprite--        !default;

$ekzo-icon-font:         fontello        !default;
$ekzo-icon-font-version: 79220573        !default;
$ekzo-icon-font-svg-id:  $ekzo-icon-font !default;

$ekzo-sprites-file:      'sprites.png'   !default;