
// =======================================
// ^SETTING.OPTIONS.DEFAULTS
// =======================================

// ---------------------------------------
// Z-indexes
// ---------------------------------------

$ekzo-z-indexes: (
  toast:     10000,
  modal:     9000,
  overlay:   8000,
  dropdown:  7000,
  dialog:    6000,
  popup:     5000,
  base:      1,
  deepdive: -99999,
) !default;

// ---------------------------------------
// Links styling
// ---------------------------------------

$ekzo-links-underline:                 true  !default; // false to force-unline
$ekzo-links-hover-unline:              true  !default;

// ---------------------------------------
// Buttons styling
// ---------------------------------------

$ekzo-btn-unline:                      true  !default;

$ekzo-btn-radius:                      false !default; // false to disable, value to enable

$ekzo-btn-border-top-width:            false !default; // false to disable, width to enable
$ekzo-btn-border-top-style:            false !default; // false to disable, type to enable
$ekzo-btn-border-right-width:          false !default; // false to disable, width to enable
$ekzo-btn-border-right-style:          false !default; // false to disable, type to enable
$ekzo-btn-border-bottom-width:         false !default; // false to disable, width to enable
$ekzo-btn-border-bottom-style:         false !default; // false to disable, type to enable
$ekzo-btn-border-left-width:           false !default; // false to disable, width to enable
$ekzo-btn-border-left-style:           false !default; // false to disable, type to enable

$ekzo-btn-hover-border-top-width:      false !default; // false to disable, width to enable
$ekzo-btn-hover-border-top-style:      false !default; // false to disable, type to enable
$ekzo-btn-hover-border-right-width:    false !default; // false to disable, width to enable
$ekzo-btn-hover-border-right-style:    false !default; // false to disable, type to enable
$ekzo-btn-hover-border-bottom-width:   false !default; // false to disable, width to enable
$ekzo-btn-hover-border-bottom-style:   false !default; // false to disable, type to enable
$ekzo-btn-hover-border-left-width:     false !default; // false to disable, width to enable
$ekzo-btn-hover-border-left-style:     false !default; // false to disable, type to enable

// ---------------------------------------
// Lists
// ---------------------------------------

$ekzo-list-style-type: disc !default;

// ---------------------------------------
// Contents and delimiters
// ---------------------------------------

$ekzo-breadcrumb-delimiters-content:      '\00A0' '\2192' '\00A0' '\00A0' !default;
$ekzo-breadcrumb--rev-delimiters-content: '\00A0' '\2192' '\00A0' '\00A0' !default;

$ekzo-links--go-content:                  '\00A0' '\00BB'                 !default;
$ekzo-links--back-content:                '\00AB' '\00A0'                 !default;