
// =======================================
// ^SETTING.COLORS.DEFAULTS
// =======================================

$ekzo-colors: (
  dull-lavender: #a593e0,
  green-white:   #e0e3da,
  ivory:         #fffff3,
  outer-space:  #313840
) !default;

$ekzo-base-brand-color:  ekzo-color(dull-lavender) !default;

// Extend themes via `ekzo-extend-theme` mixin
// @example
//   @include ekzo-extend-themes(( flat: ( brand: red ) ));

$ekzo-themes: (
  base: (

    brand:                     $ekzo-base-brand-color,

    // ---------------------------------------
    // Text
    // ---------------------------------------

    text:                      ekzo-color(green-white),

    // ---------------------------------------
    // Links
    // ---------------------------------------

    links:                     $ekzo-base-brand-color,
    links-hover:               ekzo-tint($ekzo-base-brand-color, 20), // false to disable, color value to enable

    // ----
    // Links borders
    //
    // @param {string|false} - false to disable, color value to enable
    //
    // You have to enable width or style in `settings.options` too!

    links-border-top:          false,
    links-border-right:        false,
    links-border-bottom:       false,
    links-border-left:         false,

    links-hover-border-top:    false,
    links-hover-border-right:  false,
    links-hover-border-bottom: false,
    links-hover-border-left:   false,

    // ---------------------------------------
    // Headings
    // ---------------------------------------
    // @param {string|false} - false to disable, color value to enable

    headings:                  false,
    extra-headings:            false,

    // ---------------------------------------
    // Selection
    // ---------------------------------------

    selection:                 false, // false to disable, color value to enable
    selection-bg:              false, // false to disable, color value to enable

    // ---------------------------------------
    // Forms
    // ---------------------------------------

    forms:                     ekzo-color(green-white),
    forms-placeholder:         ekzo-tint(ekzo-color(outer-space), 20),
    forms-bg:                  ekzo-color(outer-space),

    // ---------------------------------------
    // Buttons
    // ---------------------------------------
    // @param {string|false} - false to disable, color value to enable

    btn:                       ekzo-color(green-white),
    btn-bg:                    $ekzo-base-brand-color,
    btn-hover:                 false,
    btn-hover-bg:              ekzo-tint($ekzo-base-brand-color, 10),

    // ----
    // Buttons borders
    //
    // @param {string|false} - false to disable, color value to enable
    //
    // @note You have to enable width or style in `settings.options` too!

    btn-border-top:            false,
    btn-border-right:          false,
    btn-border-bottom:         false,
    btn-border-left:           false,

    btn-hover-border-top:      false,
    btn-hover-border-right:    false,
    btn-hover-border-bottom:   false,
    btn-hover-border-left:     false,

    // ----
    // Buttons states

    btn--positive:             #7ef76a,
    btn--positive-bg:          #1fa205,

    btn--negative:             #f87,
    btn--negative-bg:          #a20b05,

    btn--disabled:             #464646,
    btn--disabled-bg:          #d3d3d3,

    // ---------------------------------------
    // Breadcrumb
    // ---------------------------------------
    // @param {string|false} - false to disable, color value to enable

    breadcrumb-links:          ekzo-color(green-white),
    breadcrumb-delimiters:     ekzo-tint(ekzo-color(green-white), 50),

    // ---------------------------------------
    // Backgrounds
    // ---------------------------------------

    bg:                        ekzo-color(outer-space)

  )
) !default;