
/*------------------------------------*\
		$SETTING.OPTIONS.DEFAULTS
\*------------------------------------*/


/*------------------------------------*\
		$DEBUG
\*------------------------------------*/

/**
 * Debug mode will visually highlight any potential markup/accessibility quirks
 * in the browser. Set to `true` or `false`.
 */

$debug-mode:        false !default;



$apply-color-to-base-headings:    false   !default;
$apply-color-to-extra-headings:   false   !default;

/*------------------------------------*\
		$BORDER-BOX
\*------------------------------------*/

/**
 * Do you want all elements to adopt `box-sizing:border-box;` as per
 * paulirish.com/2012/box-sizing-border-box-ftw ?
 */

$global-border-box: false !default;



/*------------------------------------*\
	$ELEMENTS AND ABSTRACTIONS
\*------------------------------------*/

/**
 * Which objects and abstractions would you like to use?
 */

$use-a-nav:         true  !default;
$use-arrows:        false !default;
$use-breadcrumb:    true  !default;
$use-buttons:       true  !default;
$use-flag:          true  !default;
$use-forms:         true  !default;
$use-grid:          true  !default;
$use-icons:         true  !default;
$use-island:        true  !default;
$use-lists:         true  !default;
$use-media:         true  !default;
$use-nav:           true  !default;
$use-tables:        true  !default;
$use-tooltips:      true  !default;



/*------------------------------------*\
		$LINKS
\*------------------------------------*/

/**
 * Make all default links underlined
 */

$base-links-underline:       true !default;

/**
 * Unline link on hover
 */

$base-links-hover-unline:    true !default;

/**
 * Apply color change on link hovering
 */

$base-links-hover-colored:   true !default;



/*------------------------------------*\
		$BUTTONS
\*------------------------------------*/

/**
 * Unline buttons
 */

$base-button-unline:        true !default;





/**
 * Enable rems
 */

$use-rems:              false !default;