// =======================================
// ^SETTING.RESPONSIVE.DEFAULTS
// =======================================

// ---------------------------------------
// Breakpoints
// ---------------------------------------

$ekzo-bp-phone:     360px  !default;
$ekzo-bp-phone-ls:  600px  !default;
$ekzo-bp-tablet:    720px  !default;
$ekzo-bp-tablet-ls: 960px  !default;
$ekzo-bp-lap:       1280px !default;
$ekzo-bp-desk:      1600px !default;

$ekzo-breakpoints: (

  // ----
  // Sizes

  phone:      'screen and (min-width: #{$ekzo-bp-phone})',
  phone-ls:   'screen and (min-width: #{$ekzo-bp-phone-ls})',
  tablet:     'screen and (min-width: #{$ekzo-bp-tablet})',
  tablet-ls:  'screen and (min-width: #{$ekzo-bp-tablet-ls})',
  lap:        'screen and (min-width: #{$ekzo-bp-lap})',
  desk:       'screen and (min-width: #{$ekzo-bp-desk})',

  // ----
  // Screens

  retina:     'screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi)'

) !default;

// ---------------------------------------
// Responsiveness
// ---------------------------------------

$ekzo-responsive-helpers-breakpoints: (
  phone,
  phone-ls,
  tablet,
  tablet-ls,
  lap,
  desk
) !default;

$ekzo-responsive-buttons-breakpoints:              $ekzo-responsive-helpers-breakpoints !default;

$ekzo-responsive-display-helpers-breakpoints:      $ekzo-responsive-helpers-breakpoints !default;
$ekzo-responsive-flex-helpers-breakpoints:         $ekzo-responsive-helpers-breakpoints !default;
$ekzo-responsive-positioning-helpers-breakpoints:  $ekzo-responsive-helpers-breakpoints !default;
$ekzo-responsive-margin-helpers-breakpoints:       $ekzo-responsive-helpers-breakpoints !default;
$ekzo-responsive-bleed-helpers-breakpoints:        $ekzo-responsive-helpers-breakpoints !default;
$ekzo-responsive-padding-helpers-breakpoints:      $ekzo-responsive-helpers-breakpoints !default;
$ekzo-responsive-typography-helpers-breakpoints:   $ekzo-responsive-helpers-breakpoints !default;
$ekzo-responsive-widths-helpers-breakpoints:       $ekzo-responsive-helpers-breakpoints !default;

$ekzo-responsive-widths-helpers-fractions:         $ekzo-widths-helpers-fractions !default;