
// =======================================
// ^SETTING.TYPOGRAPHY.DEFAULTS
// =======================================

// ---------------------------------------
// Base typographic settings
// ---------------------------------------

$base-font-size:        14px !default;

$base-line-height:      $base-font-size * 1.5 !default;

// ---------------------------------------
// Font famylies
// ---------------------------------------

$base-font-family:      sans-serif          !default;
$second-font-family:    sans-serif          !default;

$headings-font-family:  $second-font-family !default;
$forms-font-family:     $base-font-family   !default;

// ---------------------------------------
// Font weights and styles
// ---------------------------------------

$base-font-weight:             normal !default;

$headings-font-weight:         normal !default;
$breadcrumb-root-font-weight:  bold   !default;

$forms-placeholder-font-style: italic !default;

// ---------------------------------------
// FONT-SIZES
// ---------------------------------------

$giga-font-size:              96px !default;
$mega-font-size:              72px !default;
$kilo-font-size:              44px !default;

$h1-font-size:                36px !default; // .h1
$h2-font-size:                30px !default; // .h2
$h3-font-size:                24px !default; // .h3
$h4-font-size:                21px !default; // .h4
$h5-font-size:                18px !default; // .h5
$h6-font-size:                16px !default; // .h6`

$small-font-size:             12px !default;
$micro-font-size:             10px !default;

$forms-font-size:             $h5-size         !default;
$forms-placeholder-font-size: $forms-font-size !default;