
// =======================================
// ^SETTING.OPTIONS.DEFAULTS
// =======================================

// ---------------------------------------
// ELEMENTS AND ABSTRACTIONS
// ---------------------------------------

$use-a-nav:         true  !default;
$use-arrows:        false !default;
$use-breadcrumb:    true  !default;
$use-buttons:       true  !default;
$use-flag:          true  !default;
$use-forms:         true  !default;
$use-grid:          true  !default;
$use-icons:         true  !default;
$use-island:        true  !default;
$use-lists:         true  !default;
$use-media:         true  !default;
$use-nav:           true  !default;
$use-tables:        true  !default;
$use-tooltips:      true  !default;

// ---------------------------------------
// Typographic options
// ---------------------------------------

$apply-color-to-base-headings:  false !default;
$apply-color-to-extra-headings: false !default;

$base-links-underline:          true  !default;
$base-links-hover-unline:       true  !default;
$base-links-hover-colored:      true  !default;

$base-button-unline:            true  !default;

// ---------------------------------------
// BORDER-BOX
// ---------------------------------------

$global-border-box: false !default;

// ---------------------------------------
// DEBUG
// ---------------------------------------
//
// Debug mode will visually highlight any potential markup/accessibility quirks
// in the browser. Set to `true` or `false`.

$debug-mode:        false !default;