@if $ekzo-enable-breadcrumb {

// =======================================
// ^BREADCRUMB
// =======================================

// ----
// Predefine mixing for breadcrumb's elements
//
// @param  {string} $delimiter Delimiter for elements
// @return {properties} Properties for elements

@mixin breadcrumb__entry($delimiter) {
  content: $delimiter;

  @if $ekzo-breadcrumb-delimiters-color and $ekzo-breadcrumb-delimiters-color != $ekzo-text-color {
    color: $ekzo-breadcrumb-delimiters-color;
  }

}

// ----
// Breadcrumb styling to apply to lists
//
// @example
//   <ul class="breadcrumb">
//     <li class="breadcrumb__entry breadcrumb__root">
//       <a class="breadcrumb__link" href="#">Home</a>
//     </li>
//     <li class="breadcrumb__entry">
//       <a class="breadcrumb__link" href="#">Section</a>
//     </li>
//   </ul>

.breadcrumb {

  @extend .nav;

  > li + li:before { @include breadcrumb__entry($delimiter: $ekzo-breadcrumb-delimiters-content); }

  @if $ekzo-breadcrumb-links-color and $ekzo-breadcrumb-links-color != $ekzo-links-color {
    > a { color: $ekzo-breadcrumb-links-color; }
  }

}

  .breadcrumb__root { font-weight: $ekzo-breadcrumb-root-font-weight; }

  .breadcrumb__entry + .breadcrumb__entry:before { @include breadcrumb__entry($delimiter: $ekzo-breadcrumb-delimiters-content); }

// ----
// Same breadcrumb, but with heading as last item
//
// @extends .breadcrumb
// @example
//   <ul class="breadcrumb breadcrumb--rev">
//     <li class="breadcrumb__entry breadcrumb__root">
//       <a class="breadcrumb__link" href="#">Home</a>
//     </li>
//   </ul>
//   <h1>Section/h1>

.breadcrumb--rev {

  > .breadcrumb__entry + .breadcrumb__entry:before,
  > li + li:before { content: none; }

  > .breadcrumb__entry:after,
  > li:after { @include breadcrumb__entry($delimiter: $ekzo-breadcrumb--rev-delimiters-content); }

}

} // endif