// =======================================
// ^BREADCRUMB
// =======================================

// ----
// Predefine mixing for breadcrumb's elements
//
// @param  {string} $delimiter Delimiter for elements
// @return {properties} Properties for elements

@mixin breadcrumb__entry($delimiter) {
  content: $delimiter;

  @include ekzo-theme() {
    @if ekzo-theme(breadcrumb-delimiters) and ekzo-theme(breadcrumb-delimiters) != ekzo-theme(text) {
      color: ekzo-theme(breadcrumb-delimiters);
    }
  }

}

@if $ekzo-enable-breadcrumb {

// ----
// Breadcrumb styling to apply to lists
//
// @example
//   <ul class="breadcrumb">
//     <li class="breadcrumb__entry breadcrumb__root">
//       <a class="breadcrumb__link" href="#">Home</a>
//     </li>
//     <li class="breadcrumb__entry">
//       <a class="breadcrumb__link" href="#">Section</a>
//     </li>
//   </ul>

.#{$ekzo-objects-ns}breadcrumb {

  @extend %#{$ekzo-objects-ns}nav;

  > li + li:before { @include breadcrumb__entry($delimiter: $ekzo-breadcrumb-delimiters-content); }

  @include ekzo-theme() {
    @if ekzo-theme(breadcrumb-links) and ekzo-theme(breadcrumb-links) != ekzo-theme(links) {
      > a { color: ekzo-theme(breadcrumb-links); }
    }
  }

}

  .#{$ekzo-objects-ns}breadcrumb__root { font-weight: $ekzo-breadcrumb-root-font-weight; }

  .#{$ekzo-objects-ns}breadcrumb__entry + .#{$ekzo-objects-ns}breadcrumb__entry:before {
    @include breadcrumb__entry($delimiter: $ekzo-breadcrumb-delimiters-content);
  }

// ----
// Same breadcrumb, but with heading as last item
//
// @extends .breadcrumb
// @example
//   <ul class="breadcrumb breadcrumb--rev">
//     <li class="breadcrumb__entry breadcrumb__root">
//       <a class="breadcrumb__link" href="#">Home</a>
//     </li>
//   </ul>
//   <h1>Section/h1>

.#{$ekzo-objects-ns}breadcrumb--rev {

  > .#{$ekzo-objects-ns}breadcrumb__entry + .#{$ekzo-objects-ns}breadcrumb__entry:before,
  > li + li:before { content: none; }

  > .#{$ekzo-objects-ns}breadcrumb__entry:after,
  > li:after { @include breadcrumb__entry($delimiter: $ekzo-breadcrumb--rev-delimiters-content); }

}

} // endif