@import '../tools/theme';
@import '../tools/breakpoint';

// =============================================================================
// Button
// =============================================================================
//  Base button styles. Extend those in your `.Btn` component.
//  Note, that by default it doesn't provide any paddings,
//  so you should apply those in your component.

// -----------------------------------------------------------------------------
// Buttons sizes
// -----------------------------------------------------------------------------
// @param {string} $postfix='' - namespace (used for breakpoins generation)

@mixin ekzo-buttons-variants (
  $ns: $ekzo-o-ns,
  $font-sizes: map-get($ekzo-font-sizes, buttons),
  $postfix: ''
) {

  // ----
  // Fill the entirety of their container.
  // 1. Prevent conflict of width and paddings

  .#{$ns}btn--full#{$postfix} {
    width: 100%;
    box-sizing: border-box; // 1
  }

  // ----
  // Button font-size modifiers based on map's values.

  @each $variant, $font-size in $font-sizes {
    .#{$ns}btn#{$variant}#{$postfix} { font-size: $font-size; }
  }

}

@mixin exports (
  $ns: $ekzo-o-ns,
  $font-sizes: map-get($ekzo-font-sizes, buttons),
  $btn-outline: true,
  $text-decoration: none,
  $hover-text-decoration: none,
  $breakpoints: $ekzo-responsive-helpers-breakpoints
) {

  //  1. Allow us to better style box model properties.
  //  2. Line different sized buttons up a little nicer.
  //  3. Normalise box model styles.
  //  4. Prevent appearing of borders in case `a` has defined border. Override in your
  //     own styles if needed.

  .#{$ns}btn {
    display: inline-block;  // 1

    vertical-align: middle; // 2

    margin: 0;              // 3

    border-width: 0;        // 4

    @if not $btn-outline { outline: 0; }

    text-decoration: $text-decoration;

    @include ekzo-theme() {
      color: ekzo-theme(btn);
      background-color: ekzo-theme(btn-bg);
    }

    &:hover,
    &:focus { text-decoration: $hover-text-decoration; }

  }

  // ----
  // Make the button inherit sizing from its parent.

  .#{$ns}btn--inherit {
    vertical-align: inherit;

    font-family: inherit;
    font-size:   inherit;

    line-height: inherit;

    padding: inherit;
  }

  // -----------------------------------------------------------------------------
  // Call
  // -----------------------------------------------------------------------------

  @include ekzo-for-each-breakpoint($matches: $breakpoints, $include-self: true) {
    @include ekzo-buttons-variants(
      $ns: $ns,
      $font-sizes: $font-sizes,
      $postfix: ekzo-temp()
    );
  }

}