// stylelint-disable selector-max-universal

// =============================================================================
// Center-inner
// =============================================================================

@mixin exports ($ns: $ekzo-o-ns) {

  .#{$ns}center-inner {
    text-align: center;

    > * {
      display: inline-block;
      text-align: left;
    }

  }

}