@if $ekzo-enable-center-inner {

// =======================================
// ^CENTER-INNER
// =======================================

.#{$ekzo-objects-ns}center-inner {
  text-align: center;

  > * {
    display: inline-block;

    text-align: left;

  }

}

} // endif