// stylelint-disable selector-no-universal

// =======================================
// ^CENTER-INNER
// =======================================

@if $ekzo-enable-center-inner {

  .#{$ekzo-objects-ns}center-inner {
    text-align: center;

    > * {
      display: inline-block;

      text-align: left;

    }

  }

} // endif