@if $enable-flag {

/*------------------------------------*\
		$FLAG
\*------------------------------------*/


/**
* Place any image- and text-like content side-by-side, arranged vertically,
* horizontally or by baseline
* E.g.:
*
		<div class="flag">
			<div class="flag__img">
				<img src="" alt="">
			</div>
			<div class="flag__content">
				<p></p>
			</div>
		</div>
 *
 */

.flag {
	display: table;
	width: 100%;
}


	.flag--top {

		.flag__img,
		.flag__content {
			vertical-align: top;
		}

	}


	.flag--bottom {

		.flag__img,
		.flag__content {
			vertical-align: bottom;
		}

	}


	.flag--right {

		.flag__img {
			padding-right: 0;
			padding-left: $base-spacing-unit;
		}

	}


.flag__img,
.flag__content {
	display: table-cell;
	vertical-align: middle;
}


.flag__img {
	padding-right: $base-spacing-unit;

	> img {
		display: block;
		max-width: none;
	}

}


.flag__content {
	width: 100%;
}

	.flag__content,
	.flag__content > :last-child {
		margin-bottom: 0;
	}

} // endif