@if $enable-grid {

// =======================================
// ^GRIDS
// =======================================
//
// Fluid and nestable grid system, e.g.:
//
// @example
//
//		<div class="grid">
//
//			<div class="grid__item 1/3">
//				<p>One third grid</p>
//			</div>
//			<div class="grid__item 2/2">
//				<p>Two thirds grid</p>
//			</div>
//			<div class="grid__item 1/2">
//				<p>One half grid</p>
//			</div>
//			<div class="grid__item 1/4">
//				<p>One quarter grid</p>
//			</div>
//			<div class="grid__item 1/4">
//				<p>One quarter grid</p>
//			</div>
//
//		</div>
//
// @demo: jsfiddle.net/inuitcss/CLYUC


// ---------------------------------------
// Grid
// ---------------------------------------
//
// 1. Positioning gutter in the center
// 2. For usage of the grid on lists

// -----
// Standard grid

.grid {
	list-style: none; // 2

	margin-bottom: 0; // 2
	margin-left:   -$base-spacing-unit; // 1
}

	.grid__item {
		display: inline-block;

		@include vendor(box-sizing, border-box);

		vertical-align: top;

		padding-left: $base-spacing-unit; // 1
	}

// -----
// Floated grid
// For places, where inline-block-based grid simply doesn't cut

.grid--floated {

	.grid__item { float: left; }

}

// -----
// Very infrequently occurring grid wrappers as children of grid wrappers.

.grid > .grid { margin-left: 0; }



// ---------------------------------------
// Flag Grid
// ---------------------------------------
//
// Throws grid in flag mode
// In that mode grid behaves like table and it's content
// centred vertically

.grid--flag {
	display: table;

	> .grid__item {
		display: table-cell;
		vertical-align: middle;
	}

}



// ---------------------------------------
// Grid fixes
// ---------------------------------------

// -----
// Grid's inline-blocks whitespace fix

.grid { letter-spacing: -0.31em; }
// Opera hack
.opera:-o-prefocus,
.grid { word-spacing: -0.43em; }

	.grid__item {
		letter-spacing: normal;
		word-spacing: normal;
	}

// -----
// Used to fix strange behaviour in Firefox on inline-grids

.grid--nofix { letter-spacing: normal; }

} // endif



// ---------------------------------------
// Grid modifiers
// ---------------------------------------

@mixin ekzo-grid-types($namespace: '') {

	// @todo Check do we need it
	.#{$namespace}grid--reset {
		display: inline-block;

		> .grid__item {
			display: inline-block;
			vertical-align: top;
		}

	}


	// ----
	// Grid gutter sizes

	.#{$namespace}grid- {
		margin-left: -$half-spacing-unit;

		> .grid__item { padding-left: $half-spacing-unit; }

	}

	.#{$namespace}grid\+ {
		margin-left: -$double-spacing-unit;

		> .grid__item { padding-left: $double-spacing-unit; }

	}

	.#{$namespace}grid\+\+ {
		margin-left: -$triple-spacing-unit;

		> .grid__item { padding-left: $triple-spacing-unit; }

	}

	.#{$namespace}grid--flush {
		margin-left: 0;

		> .grid__item { padding-left: 0; }

	}


	// ----
	// Grid items aligment

	.#{$namespace}grid--center {
		text-align: center;

		> .grid__item { text-align: left; }

	}

	.#{$namespace}grid--middle {

		> .grid__item { vertical-align: middle; }

	}

	.#{$namespace}grid--bottom {

		> .grid__item { vertical-align: bottom; }

	}


	// ----
	// Grid items widths

	.#{$namespace}grid--auto {

		> .grid__item { width: auto;; }

	}

}

@include grid-types();

@if $enable-grid {
	@if $responsive-grid {

		@each $breakpoint, $value in $breakpoints {
			@include breakpoint($breakpoint) {
				@include grid-types('#{$breakpoint}-');
			}
		}

	} // endif
} // endif