@import '../tools/breakpoint';

// =============================================================================
// Hide object
// =============================================================================

@mixin ekzo-hide ($prefix: $ekzo-o-ns, $postfix: '') {

  // ----
  // Hide only visually, but have it available for screen readers
  // @source h5bp.com/v

  .#{$prefix}hide#{$postfix} {
    position: absolute;

    width:  1px;
    height: 1px;

    margin:  -1px;
    padding:  0;

    clip: rect(0 0 0 0);

    overflow: hidden;

    border: 0;
  }

  // ----
  // Hide only text

  .#{$prefix}hide-text#{$postfix} {
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
  }

}

// -----------------------------------------------------------------------------
// Call
// -----------------------------------------------------------------------------

@mixin exports (
  $ns: $ekzo-o-ns,
  $breakpoints: $ekzo-responsive-helpers-breakpoints
) {
  @include ekzo-for-each-breakpoint($matches: $breakpoints, $include-self: true) {
    @include ekzo-hide(
      $prefix: $ns,
      $postfix: ekzo-temp()
    );
  }
}