@if $use-icons {

/*------------------------------------*\
		$ICONS and $SPRITES
\*------------------------------------*/

/**
 * Giving an element a class of `.sprite` will throw it into 'sprite' mode and apply
 * a background image e.g.:
 *
	 <a class="sprite  sprite--question-mark">More info&hellip;</a>
 *
 * or
 *
	 <a href=#><i class="sprite  sprite--question-mark"></i> Help and FAQ</a>
 *
 * Requires extension in stylesheet.
 */

/**
 * Giving an element a class of `.icon` will throw it into 'icon' mode and will
 * not add a background, but should be used for icon fonts, e.g.:
 *
	 <a href=#><i class="icon icon--star"></i> View your favourites</a>
 *
 * Requires extension in stylesheet.
 */

.sprite,
.icon {
	position: relative;

	display: inline-block;

	/* reset line-height */
	line-height: 1;

	/* So icons added using `.icon` sit in the centre of the element */
	text-align: center;

	/* So using `.icon` on certain elements doesn't make a visual difference */
	font-style:  normal;
	font-weight: normal;
}

.sprite {
	vertical-align: middle;
}

.icon:before {
	position: relative;
}



/**
 * Apply background to sprites by default
 */

.sprite { background: url(#{$base-images-path}#{$base-sprites-file}) no-repeat; }



/**
 * Declaration of default icon-font
 */

@include font ($base-icon-font, $base-icon-font-version);

.icon { font-family: '#{$base-icon-font}'; }



/**
 * Apply to change size of the icon
 */

.icon--75x { font-size: .75em; }
.icon--15x { font-size: 1.5em; }
.icon--2x  { font-size: 2em; }
.icon--3x  { font-size: 3em; }
.icon--4x  { font-size: 4em; }
.icon--5x  { font-size: 5em; }



/**
 * Make width equal to height of icon
 * Useful for lists and menus
 */

.icon--fixed { width: 1em; }



/**
 * Apply on icon or sprite if simple margin with space isn't enough
 * or where space is unusable
 */

.icon--left,
.sprite--left { margin-right:  .36em; }

.icon--right,
.sprite--right { margin-left:  .36em; }

} // endif