// =======================================
// ^ICON
// =======================================
// Giving an element a class of `.icon` will throw it into 'icon' mode and will
// apply icon font
//
// <a href=#><i class="icon icon--star"></i> View your favourites</a>
//
// Requires extension in stylesheet.

@include ekzo-font-face(
  $font:    $ekzo-icon-font,
  $version: $ekzo-icon-font-version,
  $svg-id:  $ekzo-icon-font-svg-id
);

.#{$ekzo-o-ns}icon {
  position: relative;

  display: inline-block;

  // reset line-height
  line-height: 1;

  // So icons added using `.icon` sit in the centre of the element
  text-align: center;

  font-family: '#{$ekzo-icon-font}';

  // So using `.icon` on certain elements doesn't make a visual difference
  font-style:  normal;
  font-weight: normal;

  &:before { position: relative; }

}

// ---------------------------------------
// Fixed width
// ---------------------------------------
// Make width equal to height of icon
// Useful for lists and menus

.#{$ekzo-o-ns}icon--fixed { width: 1em; }

// ---------------------------------------
// Spacing
// ---------------------------------------
// Apply on icon or sprite if simple margin with space isn't enough
// or where space is unusable

.#{$ekzo-o-ns}icon--left  { margin-right: .36em; }
.#{$ekzo-o-ns}icon--right { margin-left:  .36em; }