@if $ekzo-enable-island {

/*------------------------------------*\
		$ISLAND
\*------------------------------------*/

// @todo Improve docs

/**
 * Simple, boxed off content, as per: csswizardry.com/2011/10/the-island-object
 * E.g.:
 *
		<div class=island>
				I am boxed off.
		</div>
 *
 * Demo: jsfiddle.net/inuitcss/u8pV3
 *
 */

.island {
	display: block;
	@extend %clear;

	padding: $ekzo-spacing-unit;

	> :last-child,
	> :last-child { margin-bottom: 0; }

}

.island-       { padding: $ekzo-half-spacing-unit; }
.island\+      { padding: $ekzo-double-spacing-unit; }
.island--flush { padding: 0; }

} // endif