@if $ekzo-enable-island {

/*------------------------------------*\
    $ISLAND
\*------------------------------------*/

// @todo Improve docs

/**
 * Simple, boxed off content, as per: csswizardry.com/2011/10/the-island-object
 * E.g.:
 *
    <div class=island>
        I am boxed off.
    </div>
 *
 * Demo: jsfiddle.net/inuitcss/u8pV3
 *
 */

.#{$ekzo-ns}#{$ekzo-objects-ns}island {
  @extend %#{$ekzo-ns}#{$ekzo-objects-ns}clearfix;

  display: block;

  padding: ekzo-spacing(1);

  > :last-child,
  > :last-child { margin-bottom: 0; }

}

.#{$ekzo-ns}#{$ekzo-objects-ns}island-       { padding: ekzo-spacing(.5); }
.#{$ekzo-ns}#{$ekzo-objects-ns}island\+      { padding: ekzo-spacing(2); }
.#{$ekzo-ns}#{$ekzo-objects-ns}island--flush { padding: 0; }

} // endif