// =======================================
// ^MEDIA
// =======================================
// Place any image- and text-like content side-by-side, as per:
// stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
//
// On IE8/9 will fallback to regular float-based `media` object, with similar visual output
// However, some flexbox features, like vertical aligment, in IE8/9 will fallback to top value
//
// @example
//
//  <div class='o-media'>
//    <img class='o-media__aside' src='' alt='>
//    <p class='o-media__content'>Lorem</p>
//  </div>

.#{$ekzo-o-ns}media {
  display: flex;
  align-items: flex-start;
}

  .#{$ekzo-o-ns}media__aside {
    flex: 0 0 auto;
    margin-right: ekzo-space(1);
  }

  .#{$ekzo-o-ns}media__content {
    flex: 1 1 auto;

    &,
    > :last-child { margin-bottom: 0; }

  }

// ---------------------------------------
// Spacing variations
// ---------------------------------------

.#{$ekzo-o-ns}media0 {

  .#{$ekzo-o-ns}media__aside {
    margin-right: 0;
    margin-left:  0;
  }

}

.#{$ekzo-o-ns}media\+ {

  .#{$ekzo-o-ns}media__aside { margin-right: ekzo-space(2); }

  &.#{$ekzo-o-ns}media--rev {

    .#{$ekzo-o-ns}media__aside {
      margin-right: 0;
      margin-left:  ekzo-space(2);
    }

  }

}

// You can also use `.h-childs-displace*` to add centered margin between `.o-media__aside` and `.o-medio__content`

// ---------------------------------------
// Reversed version
// ---------------------------------------

.#{$ekzo-o-ns}media--rev {

  .#{$ekzo-o-ns}media__aside {
    order: 1;

    margin-right: 0;
    margin-left:  ekzo-space(1);
  }

}