@if $enable-media {

/*------------------------------------*\
		$MEDIA
\*------------------------------------*/

// @todo Reorder, add mixin, improve docs

/**
 * Place any image- and text-like content side-by-side, as per:
 * stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 * E.g.:
 *
		<div class="media">
			<img class="media__image" src=http://placekitten.com/200/300 alt="">
			<p class="media__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
			sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
 *
 * Demo: jsfiddle.net/inuitcss/cf4Qs
 *
 */

.media {
	// #note disabled experimentaly. It seems there is no need
	// in such property in most cases
	// Note that for obvious reasons element should always be
	// block or inline-block element.
	// display: block;

	@extend %clear;
}

	.media__image{
		float: left;

		display: block;

		margin-right: $base-spacing-unit;
	}

	.media__content{
		overflow: hidden;

		&,
		> :last-child { margin-bottom: 0; }

	}



.media--rev {

	.media__image{
		float: right;

		margin-right: 0;
		margin-left:  $base-spacing-unit;
	}

}


.media--flush {

	.media__image {
		padding-right: 0;
		padding-left:  0;
	}

}

.media\+ {

	.media__image { padding-right: $double-spacing-unit; }

	&.media--rev {

		.media__image {
			padding-right: 0;
			padding-left:  $double-spacing-unit;
		}

	}

}

} // endif