@if $ekzo-enable-nav {

// =======================================
// ^NAV
// =======================================

.#{$ekzo-ns}#{$ekzo-objects-ns}nav,
%#{$ekzo-ns}#{$ekzo-objects-ns}nav {
  @extend %#{$ekzo-ns}#{$ekzo-generics-ns}list--flush;

  display: flex;
  flex-wrap: wrap;

  > a, // for cases when you stack only anchors, without list
  > li,
  > li > a { display: inline-block; } // This also partially serves as IE8 and IE9 fallback

}

// ----
// Extends `.o-nav` and throws the list into vertical mode, e.g.:

.#{$ekzo-ns}#{$ekzo-objects-ns}nav--stacked {
  flex-direction: column;

  > a { align-self: flex-start; } // for cases when you stack only anchors, without list

}

// ----
// Imitate white-space between regular `inline-block`s

.#{$ekzo-ns}#{$ekzo-objects-ns}nav--space {

  > a, // for cases when you stack only anchors, without list
  > li { margin-right: .26em }

}

// ---------------------------------------
// Display
// ---------------------------------------
// Extends `.o-nav` and throws all links inside in block or inline mode

.#{$ekzo-ns}#{$ekzo-objects-ns}nav--block  {

  > a,
  > li,
  > li > a { display: block; }

}

.#{$ekzo-ns}#{$ekzo-objects-ns}nav--inline  {

  > a,
  > li,
  > li > a { display: inline; }

}

// ---------------------------------------
// Sizes
// ---------------------------------------
// Give nav links a big, blocky hit area. Extends `.nav`

.#{$ekzo-ns}#{$ekzo-objects-ns}nav--padding-- {

  > a,
  > li > a { padding: ekzo-spacing(.5); }

}

.#{$ekzo-ns}#{$ekzo-objects-ns}nav--padding {

  > a,
  > li > a { padding: ekzo-spacing(1); }

}

.#{$ekzo-ns}#{$ekzo-objects-ns}nav--padding\+ {

  > a,
  > li > a { padding: ekzo-spacing(2); }

}

// ---------------------------------------
// Packed nav
// ---------------------------------------

.#{$ekzo-ns}#{$ekzo-objects-ns}nav--pack {

  > li,
  > a,
  > .#{$ekzo-ns}#{$ekzo-objects-ns}nav__item { flex-grow: 1; } // flex 1 1 auto?

}

.#{$ekzo-ns}#{$ekzo-objects-ns}nav--fixed-pack {

  > li,
  > a,
  > .#{$ekzo-ns}#{$ekzo-objects-ns}nav__item { flex: 1; } // flex 1 1 0% ?

}

// ---------------------------------------
// Keywords
// ---------------------------------------
// Make a list of keywords. Extends `.nav`, e.g.:

.#{$ekzo-ns}#{$ekzo-objects-ns}nav--keywords {

  > li:after, > a:after { content: '\002C' '\00A0'; }

  > li:last-child:after, a:last-child:after { display: none; }

}

} // endif