// @todo Disabled due to issues with Sass placeholder: `Expected selector "%#{$ekzo-o-ns}nav > li > a" to come before selector ".#{$ekzo-o-ns}nav > a"`
// stylelint-disable no-descending-specificity

// =======================================
// ^NAV
// =======================================

%#{$ekzo-o-ns}nav,
.#{$ekzo-o-ns}nav {
  @extend %#{$ekzo-g-ns}list--flush;

  display: flex;
  flex-wrap: wrap;

  > a,
  > li,
  > li > a { display: inline-block; } // This also partially serves as IE8 and IE9 fallback

}

// ---------------------------------------
// Stacked
// ---------------------------------------
// Extends `.o-nav` and throws the list into vertical mode

.#{$ekzo-o-ns}nav--stacked {
  flex-direction: column;

  > a { align-self: flex-start; } // for cases when you stack only anchors, without list

}

// ---------------------------------------
// Display
// ---------------------------------------
// Extends `.o-nav` and throws all links inside in block or inline mode

.#{$ekzo-o-ns}nav--block  {

  > a,
  > li,
  > li > a { display: block; }

}

.#{$ekzo-o-ns}nav--inline  {

  > a,
  > li,
  > li > a { display: inline; }

}

// ---------------------------------------
// Spacing
// ---------------------------------------

// Use `.h-anchors-margin*` to add margin to all child `a`, including direct childs of `li`
// Use `.h-anchors-padding*` to add padding to all child `a`, including direct childs of `li`
// Use `.h-childs-margin*` to add margin to all child
// Use `.h-childs-padding*` to add padding to all child

// ----
// Imitate white-space between regular `inline-block`s

.#{$ekzo-o-ns}nav--space {

  > a,
  > li { margin-right: .26em; }

}

// ---------------------------------------
// Packed nav
// ---------------------------------------

.#{$ekzo-o-ns}nav--pack {

  > a,
  > li,
  > .#{$ekzo-o-ns}nav__item { flex: 1 1 auto; }

}

.#{$ekzo-o-ns}nav--fixed-pack {

  > a,
  > li,
  > .#{$ekzo-o-ns}nav__item { flex: 1 1 0%; }

}

// ---------------------------------------
// Keywords
// ---------------------------------------
// Make a list of keywords. Extends `.nav`, e.g.:

.#{$ekzo-o-ns}nav--keywords {

  > a:after,
  > li:after { content: '\002C' '\00A0'; }

  > a:last-child:after,
  > li:last-child:after { display: none; }

}