@if $ekzo-enable-nav {

/*------------------------------------*\
    $NAV
\*------------------------------------*/


/**
 * Nav abstraction as per: csswizardry.com/2011/09/the-nav-abstraction
 * When used on an `ol` or `ul`, this class throws the list into horizontal mode
 * e.g.:
 *
    <ul class=nav>
      <li><a href=#>Home</a></li>
      <li><a href=#>About</a></li>
      <li><a href=#>Portfolio</a></li>
      <li><a href=#>Contact</a></li>
    </ul>
 *
 * Demo: jsfiddle.net/inuitcss/Vnph4
 *
 */

.nav {
  @extend %list--flush;

  > li,
  > li > a { display: inline-block; }

}


/**
 * `.nav--stacked` extends `.nav` and throws the list into vertical mode, e.g.:
 *
    <ul class="nav nav--stacked">
      ...
 *
 */

.nav--stacked > li { display: list-item; }

/**
 * Extends `.nav` and throws all links inside in block or inline mode
 */

.nav--block  > li > a { display: block; }
.nav--inline > li > a { display: inline; }


/**
 * Give nav links a big, blocky hit area. Extends `.nav`, e.g.:
 *
    <ul class="nav block">
      ...
 *
 */

.nav--padding-  > li > a { padding: $ekzo-spacing-unit--half; }
.nav--padding   > li > a { padding: $ekzo-spacing-unit; }
.nav--padding\+ > li > a { padding: $ekzo-spacing-unit--double; }


/**
 * Make a list of keywords. Extends `.nav`, e.g.:
 *
    <ul class="nav keywords>
      ...
 *
 */

.nav--keywords {

  li:after { content: '\002C' '\00A0'; }

  li:last-child:after { display: none; }

}

} // endif