@if $ekzo-enable-pack {

/*------------------------------------*\
    $PACK
\*------------------------------------*/

/**
 * The pack object simply causes any number of elements pack up horizontally to
 * automatically fill an equal, fluid width of their parent.
 *
    <ul class="nav--fit">
      ...
 *
 * Thanks to @pimpl for this idea!
 *
 * 1. Fill all available space.
 * 2. Cause children to be automatically equally sized.
 */

.#{$ekzo-ns}pack {
  display: table;

  width: 100%;  /* [1] */

  > li {
    @extend %pack__item;

    > a { display: block; }

  }

  > a { @extend %pack__item; }

}

.#{$ekzo-ns}pack__item,
%#{$ekzo-ns}pack__item {
  display: table-cell;

  padding: $ekzo-spacing-unit;
}

.#{$ekzo-ns}pack--fixed { table-layout: fixed; /* [2] */ }

.#{$ekzo-ns}pack--middle {}
.#{$ekzo-ns}pack--bottom {}

.#{$ekzo-ns}pack--auto {}

.#{$ekzo-ns}pack- {

  > li,
  > a { padding: $ekzo-spacing-unit--half; }

}

.#{$ekzo-ns}pack\+ {

  > li,
  > a { padding: $ekzo-spacing-unit--double; }

}

.#{$ekzo-ns}pack--flush {

  > li,
  > a { padding: 0; }

}

// .pack--sides-       { > li, > a { padding-left: $ekzo-spacing-unit--half;   padding-right: $ekzo-spacing-unit--half; } }
// .pack--sides\+      { > li, > a { padding-left: $ekzo-spacing-unit--double; padding-right: $ekzo-spacing-unit--double; } }
// .pack--sides--flush { > li, > a { padding-left: 0; padding-right: 0; } }

.#{$ekzo-ns}pack--border-spacing-       { border-spacing: $ekzo-spacing-unit--half; }
.#{$ekzo-ns}pack--border-spacing        { border-spacing: $ekzo-spacing-unit; }
.#{$ekzo-ns}pack--border-spacing\+      { border-spacing: $ekzo-spacing-unit--double; }
.#{$ekzo-ns}pack--border-spacing--flush { border-spacing: 0; }

} // endif