@if $ekzo-enable-pack {

/*------------------------------------*\
		$PACK
\*------------------------------------*/

/**
 * The pack object simply causes any number of elements pack up horizontally to
 * automatically fill an equal, fluid width of their parent.
 *
		<ul class="nav--fit">
			...
 *
 * Thanks to @pimpl for this idea!
 *
 * 1. Fill all available space.
 * 2. Cause children to be automatically equally sized.
 */

.pack {
	display: table;

	width: 100%;  /* [1] */

	> li {
		@extend %pack__item;

		> a { display: block; }

	}

	> a { @extend %pack__item; }

}

.pack__item,
%pack__item {
	display: table-cell;

	padding: $ekzo-spacing-unit;
}

.pack--fixed { table-layout: fixed; /* [2] */ }

.pack--middle {}
.pack--bottom {}

.pack--auto {}

.pack-       { > li, > a { padding: $ekzo-half-spacing-unit; } }
.pack\+      { > li, > a { padding: $ekzo-double-spacing-unit; } }
.pack--flush { > li, > a { padding: 0; } }

// .pack--sides-       { > li, > a { padding-left: $ekzo-half-spacing-unit;   padding-right: $ekzo-half-spacing-unit; } }
// .pack--sides\+      { > li, > a { padding-left: $ekzo-double-spacing-unit; padding-right: $ekzo-double-spacing-unit; } }
// .pack--sides--flush { > li, > a { padding-left: 0; padding-right: 0; } }

.pack--border-spacing-       { border-spacing: $ekzo-half-spacing-unit; }
.pack--border-spacing        { border-spacing: $ekzo-spacing-unit; }
.pack--border-spacing\+      { border-spacing: $ekzo-double-spacing-unit; }
.pack--border-spacing--flush { border-spacing: 0; }

} // endif