// =============================================================================
// Panel
// =============================================================================
// Stack content in column and make body expand to full height of parent (or page),
// whilte footer of panel to stick to bottom of parent.
// Throws all direct descedants into flexbox mode.
// Best used on `<body>`.
//
// 1. Avoid the IE 10-11 `min-height` bug.
// 2. Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
// 3. Avoid issue with print in Firefox which cutting everything
//    that goes beyond first page in case of flexbox
// 4. Set `flex-shrink` to `0` to prevent some browsers from
//    letting these items shrink to smaller than their content's default
//    minimum size. See http://bit.ly/1Mn35US for details.

@mixin exports ($ns: $ekzo-o-ns) {

  .#{$ns}panel {
    display: flex;
    flex-direction: column;

    @include ekzo-breakpoint(print) { display: block; } // 3
  }

  // Use it only on root element, all direct descendants with `o-panel o-panel__flex`
  // will expand without need to specify height
  .#{$ns}panel--max { height: 100%; } // 1, 2

    .#{$ns}panel__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: none;
    }

    .#{$ns}panel__body { flex: 1 0 auto; } // 4
    .#{$ns}panel__footer { flex: none; } // 4

}