@if $ekzo-enable-reline {

/*------------------------------------*\
    $RELINE
\*------------------------------------*/

// ----
// Removes underline from element, but adds it
// to child span
//
// Useful for anchors with icons inside it

.#{$ekzo-ns}reline {
  text-decoration: none;

  &:hover .#{$ekzo-ns}reline__to { text-decoration: none; }
}

  .#{$ekzo-ns}reline__to { text-decoration: underline; }

// ----
// Removes underline, but adds it to child span on hover

.#{$ekzo-ns}reline--rev {
  text-decoration: none;

  .#{$ekzo-ns}reline__to { text-decoration: none; }

  &:hover .#{$ekzo-ns}reline__to { text-decoration: underline; }
}

} // endif