// =============================================================================
// Relink
// =============================================================================
// @note This one will interact only with base link styles. If you have different styles
//       from base link styles, it's good idea to add them to `%#{$ekzo-g-ns}link`
//       If you wish to have few relinks, just use `ekzo-relink()` mixin with your parameters

@mixin ekzo-relink (
  $relink-class,
  $relink-rev-class,
  $link-class,
  $link-flush-class: '.#{$ekzo-g-ns}link--inherit'
) {

  // ----
  // Removes link style from element, but re-adding it back to
  // specified `.o-relink__to`

  #{$relink-class} { @extend #{$link-flush-class}; }

    #{$relink-class}__to { @extend #{$link-class}; }

  // ----
  // Removes link style from element, and re-adding it back to
  // specified `.o-relink__to` on hover or focus
  //
  // @note Unforunately, despite it would be more logical, it can't serve as modificator
  //       of `.relink` due to conflicts of `.relink__to` @extends

  #{$relink-rev-class} {
    @extend #{$link-flush-class};

    &:hover #{$relink-rev-class}__to,
    &:focus #{$relink-rev-class}__to,
    &:active #{$relink-rev-class}__to { @extend #{$link-class}; }

  }

}

@mixin exports (
  $ns: $ekzo-o-ns,
  $link-class: '%#{$ekzo-g-ns}link',
  $link-flush-class: '.#{$ekzo-g-ns}link--inherit'
) {
  @include ekzo-relink(
    $relink-class: '.#{$ns}relink',
    $relink-rev-class: '.#{$ns}relink-rev',
    $link-class: $link-class,
    $link-flush-class: $link-flush-class
  );
}