// =======================================
// ^RELINE
// =======================================
// Removes underline from element, but adds it
// to child span
//
// Useful for anchors with icons inside it

.#{$ekzo-o-ns}reline {
  text-decoration: none;

  &:hover .#{$ekzo-o-ns}reline__to,
  &:focus .#{$ekzo-o-ns}reline__to,
  &:active .#{$ekzo-o-ns}reline__to { text-decoration: none; }
}

  .#{$ekzo-o-ns}reline__to { text-decoration: underline; }

// ----
// Removes underline, but adds it to child span on hover

.#{$ekzo-o-ns}reline--rev {
  text-decoration: none;

  .#{$ekzo-o-ns}reline__to { text-decoration: none; }

  &:hover .#{$ekzo-o-ns}reline__to,
  &:focus .#{$ekzo-o-ns}reline__to,
  &:active .#{$ekzo-o-ns}reline__to { text-decoration: underline; }
}