// =======================================
// ^SPRITES
// =======================================
// Giving an element a class of `.sprite` will throw it into 'sprite' mode and apply
// a background image e.g.:
//
// <a class="sprite  sprite--question-mark">More info&hellip;</a>
//
// or
//
// <a href=#><i class="sprite  sprite--question-mark"></i> Help and FAQ</a>
//
// Requires extension in stylesheet.

.#{$ekzo-o-ns}sprite {
  position: relative;

  display: inline-block;

  vertical-align: middle;

  // reset line-height
  line-height: 1;

  background: url(#{$ekzo-sprites-path}/#{$ekzo-sprites-file}) no-repeat;
}