@if $ekzo-enable-sprites {

/*------------------------------------*\
    $$SPRITES
\*------------------------------------*/

/**
 * Giving an element a class of `.sprite` will throw it into 'sprite' mode and apply
 * a background image e.g.:
 *
   <a class="sprite  sprite--question-mark">More info&hellip;</a>
 *
 * or
 *
   <a href=#><i class="sprite  sprite--question-mark"></i> Help and FAQ</a>
 *
 * Requires extension in stylesheet.
 */

/**
 * Giving an element a class of `.icon` will throw it into 'icon' mode and will
 * not add a background, but should be used for icon fonts, e.g.:
 *
   <a href=#><i class="icon icon--star"></i> View your favourites</a>
 *
 * Requires extension in stylesheet.
 */

.sprite {
  position: relative;

  display: inline-block;

  vertical-align: middle;

  /* reset line-height */
  line-height: 1;

  background: url(#{$ekzo-sprites-path}/#{$ekzo-sprites-file}) no-repeat;
}

/**
 * Apply on sprite if simple margin with space isn't enough
 * or where space is unusable
 */

.sprite--left  { margin-right: .36em; }
.sprite--right { margin-left:  .36em; }

} // endif