
/*------------------------------------*\
    $TOOLTIPS
\*------------------------------------*/


/**
 * Pure css tooltips
 * Apply anywhere following code to use:
 *
    <span class="tooltip--top"
          data-tooltip="Appearing text">
      Text
    </span>
 *
 */



/**
* Tooltip variables
*/

$ekzo-tooltip-font-size: 12px !default;

// default tooltip height
// quite tricky due to proper positioning issues
$ekzo-tooltip-height: $ekzo-tooltip-font-size + 2 * 8px !default;

// border-width for tooltip arrow
$ekzo-tooltip-arrow-size: 6px !default;

// transition distance
$ekzo-transition-distance: 8px !default;

/**
* Tooltip colors
*/

// Default color
$ekzo-tooltip-bg-color: rgba(1, 13, 14, .68) !default;

// Error color
$ekzo-tooltip-bg-color-error: hsl(1, 40%, 50%) !default;

// Info color
$ekzo-tooltip-bg-color-info: hsl(200, 50%, 45%) !default;

// Success color
$ekzo-tooltip-bg-color-success: hsl(121, 32%, 40%) !default;



/**
* Mixin to generate different color style tooltips
*/

@mixin ekzo-tooltip-bg-color($color) {

  @each $position in top, bottom, left, right {

    &.tooltip--#{$position}:before {
      border-#{$position}-color: $color;
    }

  }

  &:after {
    background-color: $color;
  }

}



/**
* Mixin to set margin on tooltip using translate transform
*/

@mixin ekzo-tooltip-position($position) {

  &:before {
    // get the arrow out
    margin-#{$position}: -2 * $ekzo-tooltip-arrow-size;

    @if $position == 'left' or $position == 'right' {
      // bring back to center
      margin-bottom: -1 * $ekzo-tooltip-arrow-size;
    }
  }

  &:after {

    @if $position == 'top' or $position == 'bottom' {
      // bring back the tooltip by some offset so that arrow doesn't stick at end
      margin-left: -1 * 3 * $ekzo-tooltip-arrow-size;
    }

    @if $position == 'left' or $position == 'right' {
      // bring back to center
      margin-bottom: -1 * floor($ekzo-tooltip-height / 2);
    }

  }

  &:before,
  &:after {
    #{$position}: 100%;

    @if $position == 'top' or $position == 'bottom' {
      left: 50%;
    }

    @if $position == 'left' or $position == 'right' {
      bottom: 50%;
    }

  }

  &:hover:before,
  &:hover:after,
  &:focus:before,
  &:focus:after {
    @if $position == 'top' {
      transform: translateY($ekzo-transition-distance * 1);
    }
    @if $position == 'bottom' {
      transform: translateY($ekzo-transition-distance * -1);
    }
    @if $position == 'left' {
      transform: translateX($ekzo-transition-distance * 1);
    }
    @if $position == 'right' {
      transform: translateX($ekzo-transition-distance * -1);
    }

  }

}


@if $ekzo-enable-tooltips {

  [data-tooltip] {

    position: relative;

    &:before,
    &:after {
      // HACK: Trigger hardware accelerated rendering, otherwise transform was not
      // working on a hidden element
      transform: translate3d(0, 0, 0);

      transition: .3s ease;

      position: absolute;

      // HACK: visibility is set to hidden because IE & Opera don't support
      // pointer-events on HTML content yet because of which hovering a hidden tooltip
      // shows the tooltip.
      visibility: hidden;
      opacity: 0;
      z-index: 1000000;
    }

    &:hover:before,
    &:hover:after,
    &:focus:before,
    &:focus:after {
      visibility: visible;
      opacity: 1;
    }

    /* tooltip arrow */

    &:before {
      content: '';
      position: absolute;
      background: transparent;
      border: $ekzo-tooltip-arrow-size solid transparent;
      // move z-index 1 up than :after so that it shows over box-shadow
      z-index: 1000000 + 1;
    }

    /* tooltip body */

    &:after {
      content: attr(data-tooltip);
      background: $ekzo-tooltip-bg-color;
      color: #fff;
      padding: .7em;
      font-size: $ekzo-tooltip-font-size;
      line-height: 1;
      white-space: nowrap;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, .2);
      border-radius: 4px;

      font-weight: normal;

      text-transform: none;
    }

  }



  .tooltip--sharp:after { border-radius: 0; }



  .tooltip--always {
    &:after,
    &:before {
      opacity: 1;
      visibility: visible;
    }

    &.tooltip--top:after,
    &.tooltip--top:before {
      transform: translateY($ekzo-transition-distance * -1);
    }

    &.tooltip--bottom:after,
    &.tooltip--bottom:before {
      transform: translateY($ekzo-transition-distance * 1);
    }

    &.tooltip--left:after,
    &.tooltip--left:before {
      transform: translateX($ekzo-transition-distance * -1);
    }

    &.tooltip--right:after,
    &.tooltip--right:before {
      transform: translateX($ekzo-transition-distance * 1);
    }
  }



  /**
   * set default color for tooltip arrows
   */

  .tooltip--top:before { border-top-color: $ekzo-tooltip-bg-color; }

  .tooltip--bottom:before { border-bottom-color: $ekzo-tooltip-bg-color; }

  .tooltip--left:before { border-left-color: $ekzo-tooltip-bg-color; }

  .tooltip--right:before { border-right-color: $ekzo-tooltip-bg-color; }

  .tooltip--error   { @include ekzo-tooltip-bg-color($ekzo-tooltip-bg-color-error); }
  .tooltip--info    { @include ekzo-tooltip-bg-color($ekzo-tooltip-bg-color-info); }
  .tooltip--success { @include ekzo-tooltip-bg-color($ekzo-tooltip-bg-color-success); }



/**
 * Defines the positoning logic for the tooltips.
 *
 * Classes added:
 *    1) tooltip--top
 *    2) tooltip--bottom
 *    3) tooltip--left
 *    4) tooltip--right
 */

  /* top tooltip */
  .tooltip--top { @include ekzo-tooltip-position('bottom'); }

  /* bottom tooltip */

  .tooltip--bottom { @include ekzo-tooltip-position('top'); }

  /* right tooltip */

  .tooltip--right { @include ekzo-tooltip-position('left'); }

  /* left tooltip */

  .tooltip--left { @include ekzo-tooltip-position('right'); }

} // endif