
/*------------------------------------*\
		$BREADCRUMB
\*------------------------------------*/


/**
 * Simple breadcrumb styling to apply to (ordered) lists. Extends `.nav`, e.g.:
 *
		<ul class="nav breadcrumb">
			<li class="breadcrumb_root"><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">The Board</a></li>
			<li class="breadcrumb_current">Directors</li>
		</ul>
 *
 * Demo: jsfiddle.net/inuitcss/rkAY9
 *
 */

.breadcrumb {

	> li + li:before {
		content: "\00A0" "\2192" "\00A0" "\00A0";
	}

}


/**
 * Same breadcrumb, but with heading as last item
 *
		<ul class="nav breadcrumb--rev">
			<li class="breadcrumb_root"><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">The Board</a></li>
		</ul>
		<h1>Header as last item</h1>
 *
 */

.breadcrumb--rev {

	> li:after {
		content: "\00A0" "\00A0" "\2192" "\00A0" ;
	}

}



/**
* Denote the root of the tree and current state styling
*/

.breadcrumb__root {
	font-weight: bold;
}

.breadcrumb__current {}