
/*------------------------------------*\
		$LINKS
\*------------------------------------*/


/**
 * Default link styling
 */

a,
.base-link {
	color: $base-links-color;

	@if $base-links-underline {
		text-decoration: underline;
	} @else {
		text-decoration: none;
	}

	&:hover {
		@if $base-links-hover-colored {
			color: $base-links-hover-color;
		}

		@if $base-links-hover-unline {
			text-decoration: none;
		}
	}

}



/**
 * Makes link looks like ordinary text
 * Add .cursor-arrow to remove "pointer" cursor
 * and make it completely like ordinary text
 */

.unlink {
	@if $base-links-underline {
		text-decoration: none;
	}

	color: $base-font-color;

	&:hover {
		@if $base-links-underline {
			text-decoration: none;
		}

		@if $base-links-hover-colored {
			color: $base-font-color;
		}
	}

}