// =============================================================================
// ^SETTING.ASSETS.DEFAULTS
// =============================================================================

// -----------------------------------------------------------------------------
// Paths
// -----------------------------------------------------------------------------

$ekzo-assets-path:       '../assets'                    !default;
$ekzo-images-path:       '#{$ekzo-assets-path}/images'  !default;
$ekzo-ui-path:           '#{$ekzo-images-path}/ui'      !default;
$ekzo-sprites-path:      '#{$ekzo-assets-path}/sprites' !default;
$ekzo-fonts-path:        '#{$ekzo-assets-path}/fonts'   !default;

// -----------------------------------------------------------------------------
// Background
// -----------------------------------------------------------------------------

$ekzo-bg:                null !default; // `background` property on `html`

// -----------------------------------------------------------------------------
// Icons
// -----------------------------------------------------------------------------

$ekzo-icons-prefix:      Icon--          !default;
$ekzo-icon-font:         icons           !default;
$ekzo-icon-font-version: 79220573        !default;
$ekzo-icon-font-svg-id:  $ekzo-icon-font !default;

// -----------------------------------------------------------------------------
// Sprites
// -----------------------------------------------------------------------------

$ekzo-sprites-prefix:    Sprite--     !default;
$ekzo-sprites-file:      'sprite.png' !default;

// -----------------------------------------------------------------------------
// SVG fonts
// -----------------------------------------------------------------------------

$ekzo-use-svg-fonts:     false !default;