// =======================================
// ^SETTING.FRAMEWORK.DEFAULTS
// =======================================

// ---------------------------------------
// Namespacing
// ---------------------------------------
// Used as prefix for every framework's class

$ekzo-g-ns: 'g-' !default;
$ekzo-o-ns: 'o-' !default;
$ekzo-t-ns: 't-' !default;
$ekzo-s-ns: 's-' !default;
$ekzo-h-ns: 'h-' !default;

// ---------------------------------------
// Spacing units
// ---------------------------------------

$ekzo-space: $ekzo-line-height !default;