// =============================================================================
// ^SETTING.OPTIONS.DEFAULTS
// =============================================================================

// -----------------------------------------------------------------------------
// Z-indexes
// -----------------------------------------------------------------------------

$ekzo-z-indexes: (
  toast:     10000,
  modal:     9000,
  overlay:   8000,
  dropdown:  7000,
  dialog:    6000,
  popup:     5000,
  base:      1,
  deepdive: -99999,
) !default;

// -----------------------------------------------------------------------------
// Border radiuses
// -----------------------------------------------------------------------------

$ekzo-border-radius: (
  '': 2px,
  --circle: 50%,
  0: 0,
) !default;

// -----------------------------------------------------------------------------
// <hr>
// -----------------------------------------------------------------------------

$ekzo-hr-height: 1px !default;