// =======================================
// ^SETTING.OPTIONS.DEFAULTS
// =======================================

// ---------------------------------------
// Z-indexes
// ---------------------------------------

$ekzo-z-indexes: (
  toast:     10000,
  modal:     9000,
  overlay:   8000,
  dropdown:  7000,
  dialog:    6000,
  popup:     5000,
  base:      1,
  deepdive: -99999,
) !default;

// ---------------------------------------
// Links styling
// ---------------------------------------

$ekzo-links-text-decoration:       underline !default;
$ekzo-links-hover-text-decoration: none      !default;

// ---------------------------------------
// <hr>
// ---------------------------------------

$ekzo-hr-height: 1px !default;

// ---------------------------------------
// <b> and <strong>
// ---------------------------------------

$ekzo-bold-font-weight: bolder !default;

// ---------------------------------------
// Buttons styling
// ---------------------------------------

$ekzo-btn-text-decoration:        none !default;
$ekzo-btn-hover-text-decoration:  none !default;

// ---------------------------------------
// Lists
// ---------------------------------------

$ekzo-list-style-type: disc !default;

// ---------------------------------------
// Contents and delimiters
// ---------------------------------------

$ekzo-breadcrumb-delimiters-content:      '\00A0' '\2192' '\00A0' '\00A0' !default;
$ekzo-breadcrumb--rev-delimiters-content: '\00A0' '\2192' '\00A0' '\00A0' !default;

$ekzo-links--go-content:                  '\00A0' '\00BB'                 !default;
$ekzo-links--back-content:                '\00AB' '\00A0'                 !default;