
/*------------------------------------*\
	$MIXINS.ARROWS
\*------------------------------------*/


/**
 * CSS arrows!!! But... before you read on, you might want to grab a coffee...
 *
 * This mixin creates a CSS arrow on a given element. We can have the arrow
 * appear in one of 12 locations, thus:
 *
 *       01    02    03
 *    +------------------+
 * 12 |                  | 04
 *    |                  |
 * 11 |                  | 05
 *    |                  |
 * 10 |                  | 06
 *    +------------------+
 *       09    08    07
 *
 * You pass this position in along with a desired arrow color and optional
 * border color, for example:
 *
 * `@include arrow(top, left, red)`
 *
 * for just a single, red arrow, or:
 *
 * `@include arrow(bottom, center, red, black)`
 *
 * which will create a red triangle with a black border which sits at the bottom
 * center of the element. Call the mixin thus:
 *
		.foo{
			background-color:#BADA55;
			border:1px solid #ACE;
			@include arrow(top, left, #BADA55, #ACE);
		}
 *
 */

@mixin ekzo-arrow($arrow-edge, $arrow-location, $arrow-color, $border-color: $arrow-color) {

	@if $arrow-edge == top {

		@extend %arrow--top;

		&:before{
			border-bottom-color: $border-color !important;
		}

		&:after{
			border-bottom-color: $arrow-color !important;
		}

		@if $arrow-location == left {
			@extend %arrow--left;
		}

		@if $arrow-location == center {
			@extend %arrow--center;
		}

		@if $arrow-location == right {
			@extend %arrow--right;
		}

	}

	@if $arrow-edge == right {

		@extend %arrow--far;

		&:before{
			border-left-color: $border-color !important;
		}

		&:after{
			border-left-color: $arrow-color !important;
		}

		@if $arrow-location == top {
			@extend %arrow--upper;
		}

		@if $arrow-location == center {
			@extend %arrow--middle;
		}

		@if $arrow-location == bottom {
			@extend %arrow--lower;
		}

	}

	@if $arrow-edge == bottom {

		@extend %arrow--bottom;

		&:before{
			border-top-color: $border-color !important;
		}

		&:after{
			border-top-color: $arrow-color !important;
		}

		@if $arrow-location == left {
			@extend %arrow--left;
		}

		@if $arrow-location == center {
			@extend %arrow--center;
		}

		@if $arrow-location == right {
			@extend %arrow--right;
		}

	}

	@if $arrow-edge == left {

		@extend %arrow--near;

		&:before{
			border-right-color: $border-color !important;
		}

		&:after{
			border-right-color: $arrow-color !important;
		}

		@if $arrow-location == top {
			@extend %arrow--upper;
		}

		@if $arrow-location == center {
			@extend %arrow--middle;
		}

		@if $arrow-location == bottom {
			@extend %arrow--lower;
		}

	}

}