
/*------------------------------------*\
	$MIXINS.FONT
\*------------------------------------*/


/**
 * Create a fully formed type style (sizing and vertical rhythm) by passing in a
 * single value, e.g.:
 *
		@include font-size(10px);
 *
 * Thanks to @redclov3r for the `line-height` Sass:
 * twitter.com/redclov3r/status/250301539321798657
 */

@mixin font-size ($font-size, $line-height:true) {
	font-size: $font-size;

	@if $use-rems { font-size: ($font-size / $base-font-size) * 1rem; }

	@if $line-height { line-height: ceil($font-size / $base-line-height) * ($base-line-height / $font-size); }

}



/**
 * Fast including of custom fonts
 *
		@include vendor(border-radius, 4px);
 *
 */

@mixin font ($font, $font-version:1, $font-file-name:$font, $font-weight:normal, $font-style:normal) {

	@font-face {
		font-family: '#{$font}';
		src: url(#{$base-fonts-path}#{$font-file-name}.eot?#{$font-version});
		src: url(#{$base-fonts-path}#{$font-file-name}.eot?#{$font-version}#iefix) format('embedded-opentype'),
			 url(#{$base-fonts-path}#{$font-file-name}.woff?#{$font-version}) format('woff'),
			 url(#{$base-fonts-path}#{$font-file-name}.ttf?#{$font-version}) format('truetype'),
			 url(#{$base-fonts-path}#{$font-file-name}.svg?#{$font-version}##{$font}) format('svg');
		font-weight: $font-weight;
		font-style: $font-style;
	}

	/**
	 * Serving SVG font at first specially for Chrome to make it smoother
	 */

	@media screen and (-webkit-min-device-pixel-ratio: 0) {
		@font-face {
			font-family: '#{$font}';
			src: url(#{$base-fonts-path}#{$font-file-name}.svg?#{$font-version}##{$font}) format('svg');
		}
	}

}