
/*------------------------------------*\
	$MIXINS.GENERIC
\*------------------------------------*/


/**
 * Style any number of headings in one fell swoop, e.g.:
 *
		.foo {
			@include ekzo-headings(1, 3){
			color:#BADA55;
		}
	}
 *
 * With thanks to @lar_zzz, @paranoida, @rowanmanning and ultimately
 * @thierrylemoulec for refining and improving my initial mixin.
 */

@mixin ekzo-headings($from: 1, $to: 6) {

	%base-heading {
		@content;
	}

	@if $from >= 1 and $to <= 6 {

		@for $i from $from through $to {

			h#{$i} {
				@extend %base-heading;
			}

		}

	}

}



/**
 * Force overly long spans of text to truncate, e.g.:
 *
		@include ekzo-truncate(100%);
 *
 * Where `$truncation-boundary` is a united measurement.
 */

@mixin ekzo-truncate($truncation-boundary) {
	overflow: hidden;
	text-overflow: ellipsis;

	max-width: $truncation-boundary;

	white-space: nowrap;
}



// SHORTHAND BORDER RADIUS
// =======================
//
// Quick way to specify multiple border radii at once

@mixin ekzo-border-top-radius($radius) {
	border-top-left-radius:  $radius;
	border-top-right-radius: $radius;
}

@mixin ekzo-border-bottom-radius($radius) {
	border-bottom-left-radius:  $radius;
	border-bottom-right-radius: $radius;
}

@mixin ekzo-border-left-radius($radius) {
	border-top-left-radius:    $radius;
	border-bottom-left-radius: $radius;
}

@mixin ekzo-border-right-radius($radius) {
	border-top-right-radius:    $radius;
	border-bottom-right-radius: $radius;
}