
// =======================================
// ^MIXINS.FONT
// =======================================


// ----
// Create a fully formed type style (sizing and vertical rhythm) by passing in a
// single value
//
// @param {value:px} $size                  - desired `font-size` in pixels
// @param {bool=true|value:px} $line-height - should `line-height` rhythm calculation
//                                                  be applied or no.
//                                                  Set to value in pixels to define custom
//                                                  `line-height`.
//
// @example
//
//		@include font-size(10px, 25px);
//
// Thanks to @redclov3r for the `line-height` Sass:
// twitter.com/redclov3r/status/250301539321798657

@mixin font-size($size, $line-height:true) {

	// ensure that we're working with pixels
	$size: $size + 0px;

	font-size: $size;

	@if $use-rems {
		font-size: ($size / $base-font-size) * 1rem;
	}

	// use custom line-height
	@if type-of($line-height) == number {

		// ensure that we're working with pixels
		$line-height: $line-height + 0px;

		line-height: ceil($size / $line-height) * ($line-height / $size);

	// or base value from predefined `$base-line-height`
	} @else if $line-height {

		line-height: ceil($size / $base-line-height) * ($base-line-height / $size);

	}

}



// ----
// Bulding proper font-face based on provided parameters
//
// @param {string} $font                  - font name
// @param {value=1} $version              - font version. Ensure reloading of cache in
//                                          case of any changes in font file
// @param {string=$font} $file-name       - should be specified in case of different
//                                          font file name from font name
// @param {value|string=normal} $weight   - `font-weight` of font-face
// @param {string=normal} $style          - `font-style` of font-face
// @param {string=$file-name} $svg-id     - should be specified in case it's different
//                                          from font file name
//                                          (can be found in `svg-file -> <font> -> id`)
//
// @example
//
//		@include font (Helvetica LT Condensed, 1, HelveticaLTCondensed, bold, $svg-id: helvId );
//

@mixin font($font, $version:1, $file-name:$font, $weight:normal, $style:normal, $svg-id:$file-name) {

	@font-face {
		font-family: '#{$font}';

		src: url(#{$base-fonts-path}#{$file-name}.eot?#{$version});
		src: url(#{$base-fonts-path}#{$file-name}.eot?#{$version}#iefix)      format('embedded-opentype'),
			 url(#{$base-fonts-path}#{$file-name}.woff?#{$version})           format('woff'),
			 url(#{$base-fonts-path}#{$file-name}.ttf?#{$version})            format('truetype'),
			 url(#{$base-fonts-path}#{$file-name}.svg?#{$version}##{$svg-id}) format('svg');

		font-weight: $weight;
		font-style:  $style;
	}

	// Serving SVG font at first specially for Chrome to make it smoother
	//
	// @note Disabled because seems latest versions of Chrome doesn't have such issue

	// @media screen and (-webkit-min-device-pixel-ratio: 0) {
	// 	@font-face {
	// 		font-family: '#{$font}';
	// 		src: url(#{$base-fonts-path}#{$file-name}.svg?#{$version}##{$svg-id}) format('svg');
	// 	}
	// }

}