
// =======================================
// ^MAIN
// =======================================

html {
	height: 100%;

	overflow-y: scroll;

	font-family: $base-font-family;

	@if $use-rems {
		font-size:   #{($base-font-size/16px)*1em};
		line-height: #{$line-height-ratio};
	} @else {
		font-size:   $base-font-size;
		line-height: $base-line-height;
	}

	font-weight: $base-font-weight;

	color: $base-font-color;

	background: #{$base-bg};
}

body {}