
/*------------------------------------*\
		$NORMALIZE
\*------------------------------------*/

/**
 * Basic normalization
 */


/**
 * Correct `block` display not defined in IE 8/9.
 */

header,
nav,
main,
section,
article,
footer {
	display: block;
}



/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
	display: inline-block;
}



/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}



/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
	font-weight: bold;
}



/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	font-size: 1em;
}



/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
	white-space: pre-wrap;
}



/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
	font-size: 80%;
}



/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup { top: -0.5em; }

sub { bottom: -0.25em; }



/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
	-webkit-appearance: textfield; /* 1 */
}



/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
}



/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
	cursor: default;
}