
// =======================================
// ^RESET
// =======================================
//
// A more considered reset; more of a restart...
// As per: csswizardry.com/2011/10/reset-restarted


// ----
// The usual...

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
form,
fieldset,
legend,
figure,
table,
th,
td,
caption,
hr,
input,
textarea,
select,
button,
a,
img {
	margin:  0;
	padding: 0;
}

// ----
// Remove most spacing between table cells and border

table {
	border: none;

	border-collapse: collapse;
	border-spacing: 0;
}

// ----
// Remove default border from `fieldset` and `legend`.

fieldset { border: none; }

// ----
// Remove outline

input,
textarea,
select,
button,
a,
img { outline: none; }

// ----
// 1. Remove border when inside `a` element in IE 8/9.
// 2. So that `alt` text is visually offset if images don't load.

img {
	border: none;       // 1

	font-style: italic; // 2
}