// stylelint-disable selector-max-type

// =============================================================================
// Code
// =============================================================================

@mixin exports (
  $font-family: ekzo-ui-font-family(code),
  $font-size: 90%,
  $margin-bottom: ekzo-space(1)
) {

  pre { margin-bottom: $margin-bottom; }

  code,
  pre,
  samp {
    font-family: $font-family;
    font-size: $font-size;
  }

}