// =============================================================================
// Forms
// =============================================================================

@mixin exports (
  $ns: $ekzo-g-ns,
  $font-size: $ekzo-font-size,
  $font-family: ekzo-ui-font-family(forms),
  $placeholder-font-size: null,
  $placeholder-font-family: null,
  $placeholder-font-style: inherit
) {
  $placeholder-font-size: $font-size !default;
  $placeholder-font-family: $font-family !default;

  // -----------------------------------------------------------------------------
  // Default input
  // -----------------------------------------------------------------------------

  .#{$ns}input,
  input,
  textarea,
  select {
    @include ekzo-font-size($font-size);

    @include ekzo-theme() {
      color: ekzo-theme(forms);
      background-color: ekzo-theme(forms-bg);
    }

    font-family: $font-family;
  }

  // -----------------------------------------------------------------------------
  // Default placeholder
  // -----------------------------------------------------------------------------
  // @todo Chained selector disabled here, otherwise declaration will be completely ignored by some browsers

  ::placeholder {
    @include ekzo-theme($also-chain: false) {
      color: ekzo-theme(forms-placeholder);
    }

    font-family: $placeholder-font-family;
    font-size:   $placeholder-font-size;
    font-style:  $placeholder-font-style;
  }

}