@if $ekzo-enable-forms {

// =======================================
// ^FORMS
// =======================================

// ---------------------------------------
// Default input
// ---------------------------------------

.#{$ekzo-ns}#{$ekzo-generics-ns}input,
input,
textarea {
  font-size:   $ekzo-forms-font-size;
  font-family: ekzo-ui-font-family(forms);
  @include ekzo-theme() {
    color: ekzo-theme(forms);
    background-color: ekzo-theme(forms-bg);
  }
}

// ---------------------------------------
// Default placeholder
// ---------------------------------------
// @todo Chained selector disabled here, otherwise declaration will be completely ignored by some browsers

::placeholder {
  font-family: ekzo-ui-font-family(forms);
  font-size:   $ekzo-forms-placeholder-font-size;
  font-style:  $ekzo-forms-placeholder-font-style;
  @include ekzo-theme($also-chain:false) { color: ekzo-theme(forms-placeholder); }
}

} // endif