// =======================================
// ^FORMS
// =======================================

// ---------------------------------------
// Default input
// ---------------------------------------

.#{$ekzo-generics-ns}input,
input,
textarea,
select {
  @include ekzo-font-size($ekzo-forms-font-size);
  @include ekzo-theme() {
    color: ekzo-theme(forms);
    background-color: ekzo-theme(forms-bg);
  }
  font-family: ekzo-ui-font-family(forms);
}

// ---------------------------------------
// Default placeholder
// ---------------------------------------
// @todo Chained selector disabled here, otherwise declaration will be completely ignored by some browsers

::placeholder {
  @include ekzo-theme($also-chain:false) { color: ekzo-theme(forms-placeholder); }
  font-family: ekzo-ui-font-family(forms);
  font-size:   $ekzo-forms-placeholder-font-size;
  font-style:  $ekzo-forms-placeholder-font-style;
}