@if $enable-forms {

/*------------------------------------*\
		$FORMS
\*------------------------------------*/


@include placeholder() {
	font-family: $forms-font-family;
	font-size: $forms-placeholder-font-size;
	font-style: $forms-placeholder-font-style;

	color: $forms-placeholder-color;
}


fieldset + fieldset {
	margin-top: $twice-spacing-unit;
}


.text-input,
input,
textarea,
fieldset {
	@include vendor(box-sizing, border-box);
}


.text-input,
input,
textarea,
label {
	color: $forms-color;
	font: $forms-font-size $forms-font-family;
}

.text-input,
input,
textarea{ background-color: $forms-bg-color; }



/**
 * Group sets of form fields in a list, e.g.:
 *
		<ul class="form-fields">
				<li>
						<label />
						<input />
				</li>
				<li>
						<label />
						<select />
				</li>
				<li>
						<label />
						<input />
				</li>
		</ul>
 *
 */

.form-fields {
	list-style: none;

	margin: 0;

	> li + li { margin-top: $base-spacing-unit; }

}



/**
 * Extra help text displayed after a field when that field is in focus, e.g.:
 *
		<label for=email>Email:</label>
		<input type=email class=text-input id=email>
		<small class=extra-help>.edu emails only</small>
 *
 * We leave the help text in the document flow and merely set it to
 * `visibility:hidden;`. This means that it won't interfere with anything once
 * it reappears.
 *
 */

/*small*/.extra-help {
	display: inline-block;

	visibility: hidden;

	.text-input:active + &,
	.text-input:focus + & {
		visibility: visible;
	}

}

} // endif