
/*------------------------------------*\
	$HEADINGS
\*------------------------------------*/


/**
 * When we define a heading we also define a corresponding class to go with it.
 * This allows us to apply, say, `class=h3` to a `h3`; a double-stranded
 * heading hierarchy.
 */

@include ekzo-font-size-class(headings, $plain-class: include) {
	font-weight: $ekzo-headings-font-weight;

	@if $ekzo-color-headings {
		color: $ekzo-headings-color;
	}
}


/**
 * A series of classes for setting massive type; for use in heroes, mastheads,
 * promos, etc.
 */

@include ekzo-font-size-class(extra-headings, $prefix: text--) {
	@if $ekzo-color-extra-headings {
		color: $ekzo-extra-headings-color;
	}
}