
/*------------------------------------*\
	$HEADINGS
\*------------------------------------*/


/**
 * When we define a heading we also define a corresponding class to go with it.
 * This allows us to apply, say, `class=h3` to a `h3`; a double-stranded
 * heading hierarchy.
 */

h1,.h1 {
	@include font-size($h1-font-size);

	font-weight: $headings-font-weight;

	@if $apply-color-to-base-headings {
		color: $base-headings-color;
	}
}

h2,.h2 {
	@include font-size($h2-font-size);

	font-weight: $headings-font-weight;

	@if $apply-color-to-base-headings {
		color: $base-headings-color;
	}
}

h3,.h3 {
	@include font-size($h3-font-size);

	font-weight: $headings-font-weight;

	@if $apply-color-to-base-headings {
		color: $base-headings-color;
	}
}

h4,.h4 {
	@include font-size($h4-font-size);

	font-weight: $headings-font-weight;

	@if $apply-color-to-base-headings {
		color: $base-headings-color;
	}
}

h5,.h5 {
	@include font-size($h5-font-size);

	font-weight: $headings-font-weight;

	@if $apply-color-to-base-headings {
		color: $base-headings-color;
	}
}

h6,.h6 {
	@include font-size($h6-font-size);

	font-weight: $headings-font-weight;

	@if $apply-color-to-base-headings {
		color: $base-headings-color;
	}
}


/**
 * A series of classes for setting massive type; for use in heroes, mastheads,
 * promos, etc.
 */

.h-giga {
		@include font-size($giga-font-size);

		@if $apply-color-to-extra-headings {
			color: $extra-headings-color;
		}
}

.h-mega {
		@include font-size($mega-font-size);

		@if $apply-color-to-extra-headings {
			color: $extra-headings-color;
		}
}

.h-kilo {
		font-family: $headings-font-family;

		@include font-size($kilo-font-size);

		@if $apply-color-to-extra-headings {
			color: $extra-headings-color;
		}
}