
// =======================================
// ^HEADINGS
// =======================================

%#{$ekzo-ns}#{$ekzo-generics-ns}headings-properties {
  font-weight: $ekzo-headings-font-weight;
  @if ekzo-ui-font-family(headings)                { font-family: ekzo-ui-font-family(headings); }
  @include ekzo-theme() { @if ekzo-theme(headings) { color: ekzo-theme(headings); } }
}

// ---------------------------------------
// Standard headings
// ---------------------------------------
//
// When we define a heading we also define a corresponding class to go with it.
// This allows us to apply, say, `class=h3` to a `h3`; a double-stranded
// heading hierarchy.

@each $variant, $value in ekzo-get($ekzo-font-sizes, headings) {
  #{$variant} {
    @extend %#{$ekzo-ns}#{$ekzo-generics-ns}headings-properties;

    @include ekzo-font-size($value);
  }
}