// scss-lint:disable QualifyingElement

// =======================================
// ^IMAGES
// =======================================

// ---------------------------------------
// Fluid images
// ---------------------------------------

img { max-width: 100%; }

// ----
// If a `width` and/or `height` attribute have been explicitly defined, let’s
// not make the image fluid.

img[width],
img[height] { max-width: none; }

// ---------------------------------------
// Image placement
// ---------------------------------------

.#{$ekzo-generics-ns}image--right {
  float: right;

  margin-bottom: ekzo-spacing(.5);
  margin-left:   ekzo-spacing(1);
}

.#{$ekzo-generics-ns}image--left {
  float: left;

  margin-right:  ekzo-spacing(1);
  margin-bottom: ekzo-spacing(.5);
}

.#{$ekzo-generics-ns}image--center {
  display: block;

  margin-right:  auto;
  margin-left:   auto;
  margin-bottom: ekzo-spacing(.5);
}