// stylelint-disable selector-no-qualifying-type, selector-max-type

// =============================================================================
// Images
// =============================================================================

@mixin exports (
  $ns: $ekzo-g-ns,
  $margin-bottom: ekzo-space(.5),
  $margin-sides: ekzo-space(1)
) {

  // -----------------------------------------------------------------------------
  // Fluid images
  // -----------------------------------------------------------------------------

  img { max-width: 100%; }

  // ----
  // If a `width` and/or `height` attribute have been explicitly defined, let’s
  // not make the image fluid.

  img[width],
  img[height] { max-width: none; }

  // -----------------------------------------------------------------------------
  // Image placement
  // -----------------------------------------------------------------------------

  .#{$ns}image--right {
    float: right;

    margin-bottom: $margin-bottom;
    margin-left: $margin-sides;
  }

  .#{$ns}image--left {
    float: left;

    margin-right: $margin-sides;
    margin-bottom: $margin-bottom;
  }

  .#{$ns}image--center {
    display: block;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: $margin-bottom;
  }

}