
/*------------------------------------*\
    $LINKS
\*------------------------------------*/


/**
 * Default link styling
 */

a,
.#{$ekzo-ns}#{$ekzo-generics-ns}link {
  @include ekzo-theme() { color: ekzo-theme(links); }

  @if $ekzo-links-underline {
    text-decoration: underline;
  } @else {
    text-decoration: none;
  }

  @if $ekzo-links-border-top-width                                  { border-top-width:    $ekzo-links-border-top-width; }
  @if $ekzo-links-border-top-style                                  { border-top-style:    $ekzo-links-border-top-style; }
  @include ekzo-theme() { @if ekzo-theme(links-border-top)          { border-top-color:    ekzo-theme(links-border-top); } }

  @if $ekzo-links-border-right-width                                { border-right-width:  $ekzo-links-border-right-width; }
  @if $ekzo-links-border-right-style                                { border-right-style:  $ekzo-links-border-right-style; }
  @include ekzo-theme() { @if ekzo-theme(links-border-right)        { border-right-color:  ekzo-theme(links-border-right); } }

  @if $ekzo-links-border-bottom-width                               { border-bottom-width: $ekzo-links-border-bottom-width; }
  @if $ekzo-links-border-bottom-style                               { border-bottom-style: $ekzo-links-border-bottom-style; }
  @include ekzo-theme() { @if ekzo-theme(links-border-bottom)       { border-bottom-color: ekzo-theme(links-border-bottom); } }

  @if $ekzo-links-border-left-width                                 { border-left-width:   $ekzo-links-border-left-width; }
  @if $ekzo-links-border-left-style                                 { border-left-style:   $ekzo-links-border-left-style; }
  @include ekzo-theme() { @if ekzo-theme(links-border-left)         { border-left-color:   ekzo-theme(links-border-left); } }

  &:hover {
    @include ekzo-theme() { @if ekzo-theme(links-hover) { color: ekzo-theme(links-hover); } }

    @if $ekzo-links-hover-unline { text-decoration: none; }

    @if $ekzo-links-hover-border-top-width                                  { border-top-width:    $ekzo-links-hover-border-top-width; }
    @if $ekzo-links-hover-border-top-style                                  { border-top-style:    $ekzo-links-hover-border-top-style; }
    @include ekzo-theme() { @if ekzo-theme(links-hover-border-top)    { border-top-color:    ekzo-theme(links-hover-border-top); } }

    @if $ekzo-links-hover-border-right-width                                { border-right-width:  $ekzo-links-hover-border-right-width; }
    @if $ekzo-links-hover-border-right-style                                { border-right-style:  $ekzo-links-hover-border-right-style; }
    @include ekzo-theme() { @if ekzo-theme(links-hover-border-right)  { border-right-color:  ekzo-theme(links-hover-border-right); } }

    @if $ekzo-links-hover-border-bottom-width                               { border-bottom-width: $ekzo-links-hover-border-bottom-width; }
    @if $ekzo-links-hover-border-bottom-style                               { border-bottom-style: $ekzo-links-hover-border-bottom-style; }
    @include ekzo-theme() { @if ekzo-theme(links-hover-border-bottom) { border-bottom-color: ekzo-theme(links-hover-border-bottom); } }

    @if $ekzo-links-hover-border-left-width                                 { border-left-width:   $ekzo-links-hover-border-left-width; }
    @if $ekzo-links-hover-border-left-style                                 { border-left-style:   $ekzo-links-hover-border-left-style; }
    @include ekzo-theme() { @if ekzo-theme(links-hover-border-left)   { border-left-color:   ekzo-theme(links-hover-border-left); } }

  }

}



/**
 * Makes link looks like ordinary text
 * Add .cursor-arrow to remove "pointer" cursor
 * and make it completely like ordinary text
 */

 .#{$ekzo-ns}#{$ekzo-generics-ns}link--flush {
   text-decoration: inherit;

   @include ekzo-theme() { color: inherit; };

   border: inherit;
   outline: inherit;

   box-shadow: inherit;

   @include ekzo-theme() { background: inherit; };

   &:hover,
   &:active,
   &:focus {
     text-decoration: inherit;

     @include ekzo-theme() { color: inherit; };

     border: inherit;
     outline: inherit;

     box-shadow: inherit;

     @include ekzo-theme() { background: inherit; };

   }

 }



/**
 * Add a right-angled quote to links that imply movement, e.g.:
 *
    <a href=# class="link--go">Read more</a>
 *
 */

.#{$ekzo-ns}#{$ekzo-generics-ns}link--go:after { content: $ekzo-links--go-content; }


/**
 * Add a left-angled quote to links that imply backwards movement, e.g.:
 *
    <a href=# class="link--back">Go back</a>
 *
 */

.#{$ekzo-ns}#{$ekzo-generics-ns}link--back:before { content: $ekzo-links--back-content; }