
// =======================================
// ^LINKS
// =======================================

// ---------------------------------------
// Default link styling
// ---------------------------------------

a,
.#{$ekzo-generics-ns}link,
%#{$ekzo-generics-ns}link {
  @include ekzo-theme() { color: ekzo-theme(links); }

  @if $ekzo-links-text-decoration { text-decoration: $ekzo-links-text-decoration; }

  &:hover,
  &:focus {
    @include ekzo-theme() { @if ekzo-theme(links-hover) { color: ekzo-theme(links-hover); } }

    @if $ekzo-links-hover-text-decoration { text-decoration: $ekzo-links-hover-text-decoration; }
  }

}

// ---------------------------------------
// Unstyle link
// ---------------------------------------
// Makes link looks like ordinary text.
// Add .cursor-arrow to remove "pointer" cursor and make it completely like ordinary text

.#{$ekzo-generics-ns}link--inherit,
%#{$ekzo-generics-ns}link--inherit {
  text-decoration: inherit;

  @include ekzo-theme() {
    color: inherit;
    background: inherit;
  }

  border: inherit;

  @if $ekzo-disable-links-outline { outline: inherit; }

  box-shadow: inherit;

  &:hover,
  &:active,
  &:focus {
    text-decoration: inherit;

    @include ekzo-theme() {
      color: inherit;
      background: inherit;
    }

    border: inherit;

    @if $ekzo-disable-links-outline { outline: inherit; }

    box-shadow: inherit;
  }

}

// ---------------------------------------
// Variations
// ---------------------------------------

// ----
// Add a right or left-angled quote to links that imply movement, e.g.:
//
// @example <a href=# class="link--go">Read more</a>

// Fix wrong aligment on some elements
.#{$ekzo-generics-ns}link--go:after,
.#{$ekzo-generics-ns}link--back:before {
  display: inline-block;
  vertical-align: baseline;
}

.#{$ekzo-generics-ns}link--go:after    { content: $ekzo-links--go-content; }
.#{$ekzo-generics-ns}link--back:before { content: $ekzo-links--back-content; }