
/*------------------------------------*\
		$LINKS
\*------------------------------------*/


/**
 * Default link styling
 */

a,
.link {
	color: $ekzo-links-color;

	@if $ekzo-links-underline {
		text-decoration: underline;
	} @else {
		text-decoration: none;
	}

	&:hover {
		@if $ekzo-links-hover-color {
			color: $ekzo-links-hover-color;
		}

		@if $ekzo-links-hover-unline {
			text-decoration: none;
		}
	}

}



/**
 * Makes link looks like ordinary text
 * Add .cursor-arrow to remove "pointer" cursor
 * and make it completely like ordinary text
 */

.unlink {
	@if $ekzo-links-underline {
		text-decoration: none;
	}

	color: $ekzo-text-color;

	&:hover {
		@if $ekzo-links-underline {
			text-decoration: none;
		}

		@if $ekzo-links-hover-color {
			color: $ekzo-text-color;
		}
	}

}



/**
 * Add a right-angled quote to links that imply movement, e.g.:
 *
		<a href=# class="link--go">Read more</a>
 *
 */

.link--go:after { content: $ekzo-links--go-content; }


/**
 * Add a left-angled quote to links that imply backwards movement, e.g.:
 *
		<a href=# class="link--back">Go back</a>
 *
 */

.link--back:before { content: $ekzo-links--back-content; }