@if $ekzo-enable-lists {

/*------------------------------------*\
		$LISTS
\*------------------------------------*/


/**
 * Lists defaults margins
 */

ul,
ol {
	// margin-left already defined in shared

	li + li { margin-top: $ekzo-spacing-unit--half; }

}


/**
 * Flush default styling and margins from list:
 *
		<ul class="list--flush">
			<li>Foo</li>
			<li>Bar</li>
		</ul>
 *
 */

.list--flush,
%list--flush {
	list-style: none;

	margin-left:   0;
	margin-bottom: 0;
}



/**
 * Applies margin between ul's elements
 */

.list-          > li + li { margin-top: $ekzo-spacing-unit--quarter; }
.list\+         > li + li { margin-top: $ekzo-spacing-unit; }
.list\+\+       > li + li { margin-top: $ekzo-spacing-unit--double; }
.list--li-flush > li + li { margin-top: 0; }

.list--margin-       > li { margin: $ekzo-spacing-unit--half; }
.list--margin\+      > li { margin: $ekzo-spacing-unit--double; }
.list--margin--flush > li { margin: 0; }

.list--padding-       > li { padding: $ekzo-spacing-unit--half; }
.list--padding\+      > li { padding: $ekzo-spacing-unit--double; }
.list--padding--flush > li { padding: 0; }


// @todo With borders between elements
.list--keyline {}
// @todo With borders inside
.list--matrix {}


} // endif