// stylelint-disable selector-list-comma-newline-after

// =======================================
// ^SHARED
// =======================================
// Allows us to keep a consistent rhythm.
// As per: csswizardry.com/2012/06/single-direction-margin-declarations

// ---------------------------------------
// Base vertical rhythm
// ---------------------------------------

h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dl,
blockquote, p, address,
table,
fieldset, figure,
pre,
.#{$ekzo-generics-ns}media,
.#{$ekzo-generics-ns}flag,
.#{$ekzo-generics-ns}island { margin-bottom: ekzo-space(1); }

// ----
// `hr` elements only take up a few pixels, so we need to give them special
// treatment regarding vertical rhythm.

hr { margin-bottom: ekzo-space(1) - ekzo-units(2px, unit(ekzo-space())); }

// ---------------------------------------
// Lists
// ---------------------------------------

ul,
ol,
dd { padding-left: ekzo-space(2); }