@if $enable-tables {

/*------------------------------------*\
	$TABLES
\*------------------------------------*/

// @todo Update docs

table {
	width: 100%;
}

.table--fixed {
	table-layout: fixed;
}


/**
 * Cell alignments
 */

[colspan]     { text-align: center; }

[colspan='1'] { text-align: left; }

[rowspan]     { vertical-align: middle; }

[rowspan='1'] { vertical-align: top; }


} // endif

@mixin table-spacing($n: '') {

	// ---------------------------------------
	// Paddings
	// ---------------------------------------

	.#{$n}table--padding-- {

		th,
		td { padding: $half-spacing-unit / 2; }

	}

	.#{$n}table--padding- {

		th,
		td { padding: $half-spacing-unit; }

	}

	.#{$n}table--padding {

		th,
		td { padding: $base-spacing-unit; }

	}

	.#{$n}table--padding\+ {

		th,
		td { padding: $twice-spacing-unit; }

	}

	.#{$n}table--padding--flush {

		th,
		td { padding: 0; }

	}

} // table-spacing()


@if $enable-tables {

	@include table-spacing();

		@if $responsive-tables {

			@each $breakpoint, $value in $breakpoints {
				@include breakpoint($breakpoint) {
					@include table-spacing('#{$breakpoint}-');
				}
			}

		} // endif

} // endif