// stylelint-disable selector-max-type

// =============================================================================
// ^TABLES
// =============================================================================

table { width: 100%; }

// -----------------------------------------------------------------------------
// Cell alignments
// -----------------------------------------------------------------------------

[colspan]     { text-align: center; }
[colspan='1'] { text-align: left; }

[rowspan]     { vertical-align: middle; }
[rowspan='1'] { vertical-align: top; }

// -----------------------------------------------------------------------------
// Spacing
// -----------------------------------------------------------------------------

// Use `.h-cells-padding*` to add padding to all child `th` and `td`