@if $ekzo-enable-tables {

// =======================================
// ^TABLES
// =======================================


table { width: 100%; }

.table--fixed { table-layout: fixed; }


// ---------------------------------------
// Cell alignments
// ---------------------------------------

[colspan]     { text-align: center; }

[colspan='1'] { text-align: left; }

[rowspan]     { vertical-align: middle; }

[rowspan='1'] { vertical-align: top; }


} // endif


// ---------------------------------------
// Table modifiers mixin
// ---------------------------------------

@mixin ekzo-table-spacing($n: '') {

  // ---------------------------------------
  // Paddings
  // ---------------------------------------

  .#{$n}table--padding-- {

    th,
    td { padding: $ekzo-spacing-unit--quarter; }

  }

  .#{$n}table--padding- {

    th,
    td { padding: $ekzo-spacing-unit--half; }

  }

  .#{$n}table--padding {

    th,
    td { padding: $ekzo-spacing-unit; }

  }

  .#{$n}table--padding\+ {

    th,
    td { padding: $ekzo-spacing-unit--double; }

  }

  .#{$n}table--padding--flush {

    th,
    td { padding: 0; }

  }

} // table-spacing()


// ---------------------------------------
// Call tables modifiers mixin
// ---------------------------------------

@if $ekzo-enable-tables {

  @include ekzo-table-spacing();

    // ---------------------------------------
    // Call responsive tables modifiers mixin
    // ---------------------------------------

    @if $ekzo-enable-responsive-tables {

      @each $breakpoint, $value in ekzo-get($ekzo-breakpoints, breakpoints) {
        @include ekzo-breakpoint($breakpoint) {
          @include ekzo-table-spacing('#{$breakpoint}-');
        }
      }

    } // endif

} // endif