@if $ekzo-enable-tables {

// =======================================
// ^TABLES
// =======================================

table { width: 100%; }

.#{$ekzo-ns}#{$ekzo-generics-ns}table--fixed { table-layout: fixed; }

// ---------------------------------------
// Cell alignments
// ---------------------------------------

[colspan]     { text-align: center; }

[colspan='1'] { text-align: left; }

[rowspan]     { vertical-align: middle; }

[rowspan='1'] { vertical-align: top; }


} // endif

// ---------------------------------------
// Table modifiers mixin
// ---------------------------------------

@mixin ekzo-table-spacing($postfix: '') {

  // ----
  // Paddings

  .#{$ekzo-ns}#{$ekzo-generics-ns}table--padding--#{$postfix} {

    th,
    td { padding: ekzo-spacing(.25); }

  }

  .#{$ekzo-ns}#{$ekzo-generics-ns}table--padding-#{$postfix} {

    th,
    td { padding: ekzo-spacing(.5); }

  }

  .#{$ekzo-ns}#{$ekzo-generics-ns}table--padding#{$postfix} {

    th,
    td { padding: ekzo-spacing(1); }

  }

  .#{$ekzo-ns}#{$ekzo-generics-ns}table--padding\+#{$postfix} {

    th,
    td { padding: ekzo-spacing(2); }

  }

  .#{$ekzo-ns}#{$ekzo-generics-ns}table--padding--flush#{$postfix} {

    th,
    td { padding: 0; }

  }

} // table-spacing()

// ---------------------------------------
// Call tables modifiers mixin
// ---------------------------------------

@if $ekzo-enable-tables {

  @include ekzo-table-spacing();

} // endif

// ---------------------------------------
// Call responsive tables modifiers mixin
// ---------------------------------------

@if $ekzo-enable-tables {

  @include ekzo-each-breakpoint($enable-for: $ekzo-enable-responsive-tables) {
    @include ekzo-table-spacing($postfix: ekzo-temp());
  };

} // endif