// stylelint-disable selector-max-type

// =============================================================================
// Tables
// =============================================================================

@mixin exports ($margin-bottom: ekzo-space(1)) {

  table {
    width: 100%;
    margin-bottom: $margin-bottom;
  }

  // -----------------------------------------------------------------------------
  // Cell alignments
  // -----------------------------------------------------------------------------

  [colspan]     { text-align: center; }
  [colspan='1'] { text-align: left; }

  [rowspan]     { vertical-align: middle; }
  [rowspan='1'] { vertical-align: top; }

  // -----------------------------------------------------------------------------
  // Spacing
  // -----------------------------------------------------------------------------

  // Use `.h-cells-padding*` to add padding to all child `th` and `td`

}