
// =======================================
// ^FUNCTIONS.TEMP
// =======================================
// This is very tricky and, so far, the only way to make content of defined variables
// inside of mixins available for `@content`
//
// @todo Improve docs

$ekzo-__temp: null !global;

// ---------------------------------------
// Set
// ---------------------------------------

@mixin ekzo-set-temp($key, $value:null) {
  @if not $ekzo-__temp {
    $ekzo-__temp: () !global;
  }

  @if $value != null {
    $result: ( $key: $value );
    $ekzo-__temp: map-merge($ekzo-__temp, $result) !global;
  } @else {
    $result: ( __value: $key );
    $ekzo-__temp: map-merge($ekzo-__temp, $result) !global;
  }

}

// ---------------------------------------
// Read
// ---------------------------------------

@function ekzo-temp($key:false) {

  @if not $key {

    @if type-of($ekzo-__temp) == 'null' {
      @error "[ekzo-temp]: temp variable does not hold any value";
    }

    @return ekzo-get($ekzo-__temp, __value);

  } @else {

    @if type-of($ekzo-__temp) != 'map' {
      @error "[ekzo-temp]: you're requesting key `#{$key}` from #{type-of($ekzo-__temp)}, NOT a map";
    }

    @if not map-has-key($ekzo-__temp, $key) {
      @error "[ekzo-temp]: no such key in temp variable: #{$key}";
    }

    @return ekzo-get($ekzo-__temp, $key);
  }

}

// ---------------------------------------
// Purge
// ---------------------------------------

@mixin ekzo-purge-temp() {
  $ekzo-__temp: null !global;
}