
// =======================================
// ^FUNCTIONS.MAP
// =======================================
//
// Make work with maps easier

// ---------------------------------------
// Map Get Deep
// ---------------------------------------
//
// Given a map and a list of keys, find the value at the given key
//
// @source https://github.com/at-import/Sassy-Maps/blob/0.x.x/sass/sassy-maps/_map-get.scss#L8

@function ekzo-get($map, $keys...) {

  @if length($keys) == 1 {
    $keys: nth($keys, 1);
  }

  $warn: "#{nth($keys, 1)}";
  $length: length($keys);
  $get: map-get($map, nth($keys, 1));

  @if $length > 1 {

    @for $i from 2 through $length {

      @if $get != null and type-of($get) == 'map' {
        $warn: $warn + "->#{nth($keys, $i)}";
        $get: map-get($get, nth($keys, $i));

        @if $get == null {
          @return ekzo-get-warning($warn, $get, nth($keys, $i));
        }

      } @else {
        @return ekzo-get-warning($warn, $get, nth($keys, $i));
      }

    }

  }

  @return $get;

}

// ----
// Map Get Deep Warning
//
// Displays a warning if the retrieved value is `null`
//
// @source https://github.com/at-import/Sassy-Maps/blob/0.x.x/sass/sassy-maps/_map-get.scss#L8

@function ekzo-get-warning($warn, $get, $key) {

  @if $get == null {
    @warn "[ekzo-get]: map has no value for key search `#{$warn}`";

  } @else if type-of($get) != 'map' {
    @warn "[ekzo-get]: non-map value found for key search `#{$warn}`, can't search for key `#{$key}`";
  }

  @return null;

}