// =============================================================================
// Get
// =============================================================================
//
// Make work with maps easier

// -----------------------------------------------------------------------------
// Map Get Deep
// -----------------------------------------------------------------------------
//
// Given a map and a list of keys, find the value at the given key
//
// @source https://github.com/at-import/Sassy-Maps/blob/0.x.x/sass/sassy-maps/_map-get.scss#L8
// @todo Should support paths in `$keys...`. This required by `@mixin ekzo-breakpoint`

@function ekzo-get ($map, $keys...) {
  $key: nth($keys, 1);

  @if (type-of($map) != 'map') {
    @error '[ekzo-get]: cannot searh property `#{$keys}` in non-map value, `#{type-of($map)}` provided';
  }

  @if not map-has-key($map, $key) {
    @error '[ekzo-get]: cannot find property `#{$keys}` in specified map';
  }

  $map: map-get($map, $key);

  $shifted: ekzo-shift($keys);

  @if length($shifted) == 0 {
    @return $map;
  }

  @return ekzo-get($map, $shifted...);
}

// ----
// Map Get Deep Warning
//
// Displays a warning if the retrieved value is `null`
//
// @source https://github.com/at-import/Sassy-Maps/blob/0.x.x/sass/sassy-maps/_map-get.scss#L8

@function ekzo-shift ($list) {
  $shifted: ();
  $length: length($list);
  $i: 1;

  @each $l in $list {
    @if ($i >= 2) {
      $shifted: append($shifted, $l);
    }

    $i: $i + 1;
  }

  @return $shifted;
}