// =============================================================================
// Get
// =============================================================================

///
// Get the value from the map
// Same as default `map-get`, but supports spreaded keys
// On contrary to default `map-get`, it will throw in case
// path leads to nowhere
// @param {map} $map   The map to query
// @param {*} $keys... The path of the property to get
// @return {*} The resolved value
// @example
//   ekzo-get($borders, 'thin', 'dashed');
///
@function ekzo-get ($map, $keys...) {
  $key: nth($keys, 1);

  @if (type-of($map) != 'map') {
    @error '[ekzo-get]: cannot searh property `#{$keys}` in non-map value, `#{type-of($map)}` provided';
  }

  @if not map-has-key($map, $key) {
    @error '[ekzo-get]: cannot find property `#{$keys}` in specified map';
  }

  $map: map-get($map, $key);

  $shifted: ekzo-shift($keys);

  @if length($shifted) == 0 {
    @return $map;
  }

  @return ekzo-get($map, $shifted...);
}

///
// Remove first value from the list
// @param {list} $list The list to process
// @return {list} The list without first value
// @example
//   ekzo-shift((1, 2, 3)) // => (2, 3)
///
@function ekzo-shift ($list) {
  $shifted: ();
  $length: length($list);
  $i: 1;

  @each $l in $list {
    @if ($i >= 2) {
      $shifted: append($shifted, $l);
    }

    $i: $i + 1;
  }

  @return $shifted;
}