// =============================================================================
// Mixins.breakpoint
// =============================================================================

///
// Advanced media query mixin.
// Accepts Sass map of predefined breakpoints which can be used
// across whole project.
//
// It's not recommend to used media-query on it's own -
// instead it's better keep list of all available media-queries
// in project in single Sass map. Due to that fact, that mixin
// doesn't accept custom queries in plain form.
//
// @param {string} $breakpoint                      Breakpoint name in map of predefined breakpoints.
//                                                            Example of entry:
//                                                            ```
//                                                            lap: '(min-width: #{$lap}) and (max-width: #{$desk - 1px})',
//                                                            ```
// @param (map)    $breakpoints='$ekzo-breakpoints' Map with breakpoints
//
// @throws Error in case of undefined in `$breakpoints` `$breakpoint`
//
// @example
//    .component {
//      @include ekzo-breakpoint(lap){ border: 0px; }
//      border: 2px;
//    }
///
@mixin ekzo-breakpoint (
  $breakpoint,
  $breakpoints: $ekzo-breakpoints
) {
  $query: map-get($breakpoints, $breakpoint);

  // check wether defined breakpoint exists in requested map
  @if not $query {
    @error '[ekzo-breakpoint]: undefined breakpoint `#{$breakpoint}` in specified map';
  }

  // @Note: Use `only` to hide media query from old browsers
  //        Details: http://stackoverflow.com/questions/8549529/what-is-the-difference-between-screen-and-only-screen-in-media-queries
  @media only #{$query} { @content; }
}

///
// Include for each breakpoint
///
@mixin ekzo-for-each-breakpoint (
  $matches,
  $include-self: false,
  $breakpoints: $ekzo-breakpoints
) {
  @include ekzo-set-temp('');

  @if $include-self {
    @content;
  }

  @each $breakpoint, $query in $breakpoints {
    @if index($matches, $breakpoint) != null {
      @include ekzo-breakpoint($breakpoint) {
        @include ekzo-set-temp('\\@#{$breakpoint}');

        @content;
      }
    }
  }

  @include ekzo-purge-temp();
}