// =============================================================================
// ^MIXINS.SPRITES
// =============================================================================

// -----------------------------------------------------------------------------
// Call all sprites
// -----------------------------------------------------------------------------
//
// Simple mixin to convert all sprites into  classes
// within single loop.
//
// All sprites names will be appended with specified
// in projects settings `$sprites-prefix`
//
// @dep {map} $ekzo-sprites               - 2-dimensional map of sprites.
//
//      @example
//
//      $sprites: (
//        'sprite-name':  ( width: 18px, height: 18px, offset-x:  0,    offset-y: 0 ),
//        'sprite-name2': ( width: 18px, height: 18px, offset-x: -20px, offset-y: 0 ),
//      );
//
//      {string=sprite--} $sprites-prefix - prefix which will be appended to
//                                         sprite name

@mixin ekzo-sprites ($map: $ekzo-sprites, $prefix: $ekzo-sprites-prefix) {
  @each $name, $params in $map {

    $prefixed-name: $prefix + $name;

    .#{$prefixed-name} {
      width: map-get($params, width);
      height: map-get($params, height);
      background-position: map-get($params, offset-x) map-get($params, offset-y);
    }

  }
}