// =============================================================================
// ^MIXINS.THEMES
// =============================================================================

// -----------------------------------------------------------------------------
// Extend theme
// -----------------------------------------------------------------------------

@mixin ekzo-extend-themes ($theme, $theme-data, $default: false) {
  $ekzo-themes: () !default;
  $new-theme:   ();

  @if type-of($theme-data) != 'map' {
    @error '[ekzo-extend-themes] `$theme-data` value type should be `map`, not `#{type-of($theme-data)}`';
  }

  @if not map-has-key($ekzo-themes, $theme) {
    $new-theme: ($theme: $theme-data);
  }

  @else {
    $existing-theme: map-get($ekzo-themes, $theme);

    @if $default {
      $new-theme: map-merge($theme-data, $existing-theme);
    }

    @else {
      $new-theme: map-merge($existing-theme, $theme-data);
    }

    $new-theme: ($theme: $new-theme);
  }

  $ekzo-themes: map-merge($ekzo-themes, $new-theme) !global;
}

// -----------------------------------------------------------------------------
// Themify
// -----------------------------------------------------------------------------
// Write themified code without breaking modular project structure
// Improved version of http://www.sitepoint.com/sass-theming-neverending-story/
//
// @example
//  .foo {
//    @include ekzo-theme() { background: ekzo-theme(bg); }
//
//    .bar {
//      @include ekzo-theme() {
//        color: black;
//        background: ekzo-theme(text);
//      }
//    }
//
//    .themeSpecificOverride { @include ekzo-theme('flat') { color: red; } }
//
//  }

@mixin ekzo-theme ($themes: $ekzo-themes, $prefix: $ekzo-t-ns, $postfix: '', $also-chain:true, $enable-theming: $ekzo-enable-theming, $default-theme: base) {
  @each $theme, $data in $themes {
    @include ekzo-set-temp(theme, $data);

    $class: $prefix + $theme + $postfix;

    @if not & {

      .#{$class} { @content; }

    }

    @else if $theme == $default-theme {
      @content;
    }

    @else if $enable-theming and $also-chain {

      .#{$class} &,
      &.#{$class} { @content; }

    }

    @else if $enable-theming {

      .#{$class} & { @content; }

    }

    @include ekzo-purge-temp();
  }
}