// =============================================================================
// ^MIXINS.MISC
// =============================================================================

///
// Quick way to specify multiple border radii at once
//
// @prop {percent|px|em|rem} $truncation-boundary - widths of text, which shouldn't be truncated
// @example
//  .box { @include ekzo-truncate(100%); }
///
@mixin ekzo-truncate ($truncation-boundary) {
  overflow: hidden;
  text-overflow: ellipsis;

  max-width: $truncation-boundary;

  white-space: nowrap;
}

///
// Quick way to specify multiple border radii at once
///
@mixin ekzo-border-top-radius ($radius) {
  border-top-left-radius:  $radius;
  border-top-right-radius: $radius;
}

@mixin ekzo-border-bottom-radius ($radius) {
  border-bottom-left-radius:  $radius;
  border-bottom-right-radius: $radius;
}

@mixin ekzo-border-left-radius ($radius) {
  border-top-left-radius:    $radius;
  border-bottom-left-radius: $radius;
}

@mixin ekzo-border-right-radius ($radius) {
  border-top-right-radius:    $radius;
  border-bottom-right-radius: $radius;
}

///
// Calculate aspect ratio
// For making iframes (YouTubes, Google Map) and some
// occasion divs obeying to certein aspect ratio
//
// @param (number) $width  - width of aspect ration
// @param (height) $height - height of aspect ration
//
// @example
//  .responsive-iframe--widescreen { @include ekzo-aspect-ratio(16, 9); }
///
@mixin ekzo-aspect-ratio ($width, $height) {
  height: 0;
  width: 100%;

  padding-bottom: $height / $width * 100%;
}