// =============================================================================
// Mixins.sprites
// =============================================================================
// @param {map}    $sprites         Sprites map
// @param {string} [$prefix:Icon--] Sprite class name
// @example
//   @include ekzo-sprites((
//     'sprite-name1': ( width: 18px, height: 18px, offset-x:  0,    offset-y: 0 ),
//     'sprite-name2': ( width: 18px, height: 18px, offset-x: -20px, offset-y: 0 ),
//   ));

@mixin ekzo-sprites ($sprites, $prefix: Sprite--) {
  @each $sprite, $params in $sprites {

    .#{$prefix + $sprite} {
      width: map-get($params, width);
      height: map-get($params, height);
      background-position: map-get($params, offset-x) map-get($params, offset-y);
    }

  }
}